[2012-04-13 00:02] tj opened #1 "parse querystring"
as plugin

[2012-04-13 04:40] tj opened #2 "sprintf-ish"
maybe..:

[code]

[2012-04-16 16:30] tj opened #3 "same origin links only"

[2012-04-29 19:35] #2 closed, assigned to nobody

[2012-04-29 19:35] #3 closed, assigned to nobody

[2012-05-04 02:26] #1 closed, assigned to nobody

[2012-05-11 20:29] djcas9 opened #4 "Stop Making Great Software"
I have a problem of having to rewrite parts of my apps every time you release something new. Please stop.. thanks

[2012-05-11 20:32] #4 closed, assigned to nobody

[2012-05-11 20:33] tj opened #5 "pluggable history junk"
for old shitty browsers. I dont want any of that in this lib itself but we should facilitate it

[2012-05-17 17:37] kdonald opened #6 "Support for mapping "vanity" URL paths"
In many apps including mine usernames are used to secure "vanity URLs" e.g http://facebook.com/{user_username}, http://facebook.com/{page_username}. A username can be bound to different types of objects (e.g. users, pages) and the type of object associated with a particular username determines what sub-resource are supported (e.g. {user_username}/messages, {page_username}/fans.)

It looks like I c

[2012-05-20 16:35] #6 closed, assigned to nobody

[2012-05-23 14:47] fisch42 opened #7 "Add Licence"
Please add a licence to the project.

[2012-06-06 19:52] #7 closed, assigned to nobody

[2012-06-06 19:53] tj opened #10 "ignore initial dispatch for server content"
add an option to `page() / page.start()`

[2012-06-06 20:15] #10 closed, assigned to nobody

[2012-06-06 22:41] tj opened #11 "unhandled() should add base back"
when present

[2012-06-07 00:49] #11 closed, assigned to nobody

[2012-06-07 01:12] tj opened #12 "join basepath for .show() and .replace()"
this is subjective, but IMHO if you have a basepath of "/admin" and you do `page('/settings')` it should be `/admin/settings`

[2012-06-07 01:13] tj opened #13 "refactor for multiple Page instances"
Multiple `Page` objects could be used with basepaths and operate independently, but the existing API will be left as-is, this would make testing a bit easier since the routes would reset etc...

[2012-06-07 16:34] #12 closed, assigned to nobody

[2012-06-11 14:32] ovaillancourt opened #15 ""param" handler à la express"
It would be interesting to have a `page.param(paramName, handler);` that would behave identically to express' `app.param`.

Would reduce redundancy in the route handler definitions in some cases.

What do you think?

[2012-06-11 22:54] tj opened #16 "no-op on subsequent page() calls"
so that self-contained modules may invoke it without undefined behaviour

[2012-06-12 16:40] ggoodman opened #17 "Redirect/refresh loop for unhandled urls"
Suppose we have several urls defined for news articles:

[code]

If the user then clicks on a link to `"/news/draft"`, a url for which no handler has been defined, page.js will trigger the unhandled handler. This will change window.location and cause a page refresh at which point the link will still be unhandled causing a refresh loop.

**Solution**:
`unhandled` should compare `ctx.canonicalPath`

[2012-06-12 17:11] #17 closed, assigned to nobody

[2012-06-13 18:44] #16 closed, assigned to nobody

[2012-06-15 14:00] kdonald opened #18 "page.js support for hybrid apps (e.g. phonegap native apps)"
I experimented with adding page.js to the little test app here: https://github.com/kdonald/graceworks. It works fine when served to a HTML 5 browser such as Chrome (using something like serve running on localhost:3000, for example). However, the app doesn't work when wrapped in a Apache Cordova (phonegap) project and targeted at the iPhone simulator or an iPhone device. Specifically, it looks like

[2012-06-16 18:58] #18 closed, assigned to nobody

[2012-06-24 20:05] ovaillancourt opened #20 "Have "onClick" verify if "event.defaultPrevented" is set."
At this moment, the `onClick` handler in page.js will call `page.show` even if `event.preventDefault()` was called on the link click event beforeHand.

Browsers normally don't push new history states when `event.preventDefault()` is called on a link click events. I think that page.js should behave the same and wrap transparently the browser history system in that regard.

This is most useful for w

[2012-06-25 20:34] #20 closed, assigned to nobody

[2012-07-05 23:04] #15 closed, assigned to nobody

[2012-08-02 06:10] crapthings opened #31 "how to redirect ?"
how to redirect with page.js ?

like i've access a url

http://localhost:3000/create

this url  create a uuid and insert a model to mongodb and return that _id
then redirect to

http://localhost:3000/id here ?

[2012-08-02 06:49] #31 closed, assigned to nobody

[2012-11-21 12:05] ForbesLindesay opened #37 "Use component/path-to-regexp"
Why doesn't this use [component/path-to-regexp](https://github.com/component/path-to-regexp)?

[2012-11-28 09:05] weepy opened #38 "bind to page exit ?"
Hi -- is it possible to bind to the exit from a page or route ?

In a classic HTML page there's no need since one renders everything at once, but in a single page app, one often needs to unbind or remove certain elements.

[2012-12-12 12:26] shangaslammi opened #41 "Using a query string in combination with base fails to dispatch to root"
The following code demonstrates the problem

[code]

I traced it back to this line in `Context` initialization

[code]

Without a query string, `path` is correctly initialized to "/", but if the base is followed by a query string, the result of replace is not empty.

I managed to work around this in my application by changing `pathname` initialization in `Route.prototype.match` to

[code]

but I'm

[2012-12-19 02:31] micahasmith opened #43 "Load params on page enter?"
If i have the following code--

[code]

And i load the page like /Actions#/12 it doesnt load 12 into the params-- am i doing someting wrong? I've tried a few different setups to no avail.

I would like to be able to pass the params in via the url.

Thanks!

[2013-01-02 00:27] #43 closed, assigned to nobody

[2013-01-08 06:40] ericfong opened #44 "onclick in index.js should detect target attribute"
onclick in index.js should detect target attribute

if target attribute == '_blank' return

[2013-01-13 00:59] matthewmueller opened #45 "easy to get caught in an infinite loop"
Had a peak around the code as well as #30 , but couldn't figure it out. Here's an example:

**boot.js:**

[code]

**noteview.js:**

[code]

I feel like before page redirects it should check if the `pathname` is the same. It looks like it does that in the `unhandled` function, but that function isn't getting called from `page('/note/' + note.slug)`.

[2013-02-01 01:00] tj opened #47 "remove ctx"
implementation-wise it'll be a little bit hacky but referencing `page.path` etc and changing the `(ctx, next)` signature to `(next)` might be worth it

[2013-02-17 15:55] ericfong opened #50 "Support redirection?"
Currently, I want to redirect to a default url by

page('/default', function(context, next){
  // show but quickly back to /
})
page('/', function(context, next){
  // redirect to '/default'
  page('/default');
})
page();

I think the problem come from

page.replace = function(path, state, init, dispatch){
    var ctx = new Context(path, state);
    ctx.init = init;
    if (null == dispatch) dispa

[2013-03-11 10:50] samholmes opened #54 ""Object doesn't support property or method 'replaceState'" in IE9"
I'm getting this exception in IE9 on this line: https://github.com/visionmedia/page.js/blob/master/index.js#L228

Wouldn't this lib provide some fallbacks to pushState APIs for older browsers? Or is this library not for production use? I'm only using page.js as a router to handle client-side code execution; I'm not using it as a push state lib.

[2013-03-11 13:44] pgherveou opened #55 "click and dom context"
TJ I am using page click option to handle click event

my links have data attributes

[code]

So would it make sense to add a reference to the dom element in the state object
so I can use data attributes? Or Should I write my own custom onClick method for that ?

[2013-03-12 02:38] samholmes opened #56 "Why the ; at the beginning of index.js?"
I'm just curious.

[2013-03-12 23:02] #56 closed, assigned to nobody

[2013-04-19 08:05] jostsg opened #57 "Anchors are ignored in start()"
Is there any reason why `#anchors` are ignored in the `start()` method ([see](https://github.com/visionmedia/page.js/blob/master/index.js#L98))?

I can work around that "problem" by calling `start()` with `{ dispatch: false }` and dispatch it myself. But it looks like a bug to me. I'd say `hash` is a legitimate part of the URL, wouldn't you?

[2013-04-30 11:09] cslarson opened #58 "Bootstrap conflict?"
I'm finding that page.js stops working if jquery and bootstrap are included in the page. I've tried this with the basic example. It seems to be bootstrap rather than jquery that's causing the problem though it didn't appear there was a namespace conflict.

[2013-04-30 14:31] #58 closed, assigned to nobody

[2013-07-05 22:40] cristiandouce opened #63 "window.addEventListener !== document.addEventListener // true"
Hi,

I'd run into an annoying issue using last versions of Page.js and I think I've found the source of it.

I randomly run this line of code into chrome 26 console:

[code]

I'm not sure why, but this makes my application break by leading Page.js into **not listening** to `click` events on the document:

[code]

I'd like to know if this was made intentional in order to know if I should find a wor

[2013-07-12 21:37] kokujin opened #64 "Examples and devDependencies are not installed"
npm install does not install the examples and devDependencies. According to the docs;

$ npm install
$ node examples

This does not work( Ubuntu 13.04, latest Node.js )

[2013-07-22 04:37] dharapvj opened #65 "Non-node ajax example"
Hi,

Your library looks fantastic and that too at 1200bytes its almost unbelievable!

I was trying to get it to use but could not do so.

Your nodejs based examples work fine. But I could not understand why my examples could not work.

I was simply trying to host a couple of pages say main.html and child.html. And I wanted to click on a link in the page say `#/child` which should map to a function

[2013-09-19 21:04] nikolaygit opened #68 "TypeError: Arguments to path.join must be strings"
After unzipping the ZIP file: https://github.com/visionmedia/page.js/archive/master.zip
and running the three comands

[code]

(actually it was port 4000!)

I get the following error:

[code]

[2013-09-26 12:16] binarykitchen opened #70 "Weird behavior when used with RequireJS"
Yeah, it is really behaving weird. Every first time I visit my page after restarting server, it returns 404 when loading page.js via RequireJS. But after that, when I hit reload, all goes smooth. No further 404s.

Only for the first time. Has anybody a clue what this could be?

[2013-09-27 22:33] wereHamster opened #71 "Click event interception doesn't work with custom elements / shadow DOM"
I have a custom element which contains links inside its shadow dom. Page.js should intercept clicks to these links and prevent the default action. The problem is `e.target` is the custom element, as the browser doesn't give the webpage insight into the element's DOM tree.

`e.srcElement` on the other hand _is_ the anchor element. But that might be a quirk/bug in the custom element polyfill (I'm us

[2013-10-05 22:34] binarykitchen opened #72 "AMD support"
Any chance to add AMD support? Would be great, thx!

[2013-10-07 14:04] #71 closed, assigned to nobody

[2013-11-30 00:48] congressclerk opened #76 "Examples"
Seems to still be an issue with the examples

[2013-12-13 18:32] #76 closed, assigned to nobody

[2013-12-14 20:17] acornejo opened #80 "Is it possible to intercept change of url requests"
There are two common use cases for this:
1. Some routes require login (or require certain user role)
2. There might be unsaved date on the current page.

In both cases, a common solution is to intercept requests to change the page, and warn the user that the requested page 1) requires different credentials, or 2) moving to the request page will cause loosing all unsaved data. Depending on the user

[2013-12-31 14:58] gdennie opened #82 "Doc seems to be missing a few words."
I am definitely missing something...

1) Is this a node application or a client side browser app?
2) Is this a meteor client side app or meteor server side app?
3) What is it that is being loaded, JSON, javascript, html?

Your documentation does not seem to make these things clear. While I can take my novice self and attempt to ferret out this information from the code, it would be nice to have or

[2014-01-17 13:21] codeuniquely opened #83 "Parameter parsing appears not to work chrome 32.0"
I have defined  paths as follows:

page.base('/');
page('/managetask/:number', handle1);
page('*', handle2);
page.start();

I make a call of /managetask/0002

what happens is that handle1 never gets called at all and handle2 receives the full path of "/managetask/0002" and there are no paramaters present in ctx.params.

[2014-01-17 13:46] #83 closed, assigned to nobody

[2014-01-23 16:35] rstacruz opened #85 "Navigate pages by options"
I'd love to have a way to navigate URL strings like this to keep things DRYer.

[code]

Bonus: a fantasticly-free unintended upside to this is you kinda get named routes support:

[code]

[2014-02-02 07:22] #63 closed, assigned to nobody

[2014-02-05 16:03] tj opened #87 "maintainer"
haven't had much time for client-side work, any takers? all I ask is:
- keep page.js small and focused (potentially leverage components to shrink more)
- maintain similar code style
- follow semver ;D

[2014-02-16 05:08] #82 closed, assigned to nobody

[2014-02-26 22:21] monsanto opened #88 "support history.state, so page reloads preserve state"

[2014-02-27 09:12] scottgoldwater opened #89 "Use page.js offline without a server"
Hello. I am looking to use page.js for a project. I have to have this project as a downloadable file that runs locally from the html file on the user's desktop.

Although this is a client side routing solution all of the examples get caught in an infinite loop when I run them. Is it because page.js relies on pushstate? If so, what are my options for client side routing without a server.... angular

[2014-03-05 05:16] A opened #91 "We need a plan"
I think that we need to plan our actions. May be we start from minor release `1.4.0`?

I suggest to include in the package this things:
- #81
- #79
- #69
- Travis support

@nwmcsween what do you think about it? Any additions?

[2014-03-13 05:06] nwmcsween opened #93 "Metabug for tests"
This is a meta bug for tests that need to be created at sometime.

[2014-03-23 14:29] Industrial opened #94 "Redirect from '/' to '/Home' gets reset on Context#save()"
Hi.

I have two routes, '/' and '/:title'. In the '/' route I want to redirect to '/Home' but this instantly gets reset back to '/'.

[code]

When I run this, I think because of https://github.com/visionmedia/page.js/blob/master/index.js#L145, my output is 'index!' and 'titled page!' but I see '/Home' in the URL for a split second and then the URL is '/' again.

Putting the page('/Home'); in a set

[2014-04-01 20:13] hhsnopek opened #96 "pushState Error"
Unsure of the error, or solution.

Error - `Uncaught DataCloneError: An object could not be cloned. main.js:10026`
main.js:10026

[code]

main.js

[code]

[2014-04-01 23:48] #96 closed, assigned to nobody

[2014-04-17 05:44] vutran opened #98 "prevent routing on specific anchors"
Is there to way to prevent the handling of routing for specific anchors?

[2014-05-17 20:14] yoshuawuyts opened #99 "Examples not working"
I'm having trouble running the examples. If I click on any url in the `basic` example, it delegates to the default browser action. Is this because `event.preventDefault()` is not enabled?

How can I get the examples to work?

[2014-05-22 10:05] frozeman opened #101 "if a <a> link is clicked the hash part is add twice"
something like this will happen then:
    http://localhost/keep-your-light-shining#live#live

When using `page()` everything seem to work fine

[2014-05-26 02:42] em opened #102 "Provide a callback for page exit."
It would be nice to setup/teardown pages within pages like this:

[code]

Because page doesn't provide any callback for when a route transitions from matched to unmatched, there is no way to clean up and restore state without keeping track of it in context (which can turn out to be really ugly).

[2014-05-26 04:06] em opened #103 "Routes are not matched if added after page.start"
[code]

[2014-06-09 18:52] netpoetica opened #105 "Document page.replace"
page.replace is currently undocumented. It has been [proposed as a solution to redirection in a couple of places](https://github.com/visionmedia/page.js/issues/94#issuecomment-40929113), and it probably worth adding to the docs. [Location in source.](https://github.com/visionmedia/page.js/blob/master/index.js#L131)

[2014-06-14 07:21] kethinov opened #106 "Handling form POSTs and GETs"
Right now page.js doesn't seem to progressively enhance form POSTs and GETs the way that it does with links.

Is this by design?

It seems to me it would be useful if whenever a form is submitted, that the page.js router examines the `action` attribute in the same way that it presently examines the `href` attribtue of links.

Any objections to this? (Perhaps as an off by default option?)

Or is th

[2014-06-23 17:10] alexserver opened #108 "documentation on how to install via web or node"
something like

In web:

[code]

in Node:

[code]

in your README.md

[2014-07-01 20:32] #106 closed, assigned to nobody

[2014-07-01 20:50] A opened #110 "add travis"
@visionmedia please, add this repo to travis.

[2014-07-01 21:12] #110 closed, assigned to nobody

[2014-07-01 22:18] #99 closed, assigned to nobody

[2014-07-01 22:23] #98 closed, assigned to nobody

[2014-07-01 22:40] #89 closed, assigned to nobody

[2014-07-07 12:31] wenerme opened #112 "support hash instead of path directly."
Like angularjs, route with/without hash is ok. dose pagejs support route with hash ?

Like

route `/` to `#/`

route `/about` to `#/about`

In pagejs, even `page('#/about')` will not work.

[2014-07-08 02:49] #108 closed, assigned to nobody

[2014-07-08 03:12] #37 closed, assigned to nobody

[2014-07-08 03:20] jonathanong opened #113 "browser support"
going to drop support for basically all non-modern browsers like < IE 10 and expect devs to include polyfills.
- expect them to use the `History` polyfill
- some sort of `.addEventListener()` polyfill

[2014-07-08 03:21] #65 closed, assigned to nobody

[2014-07-08 03:25] #91 closed, assigned to nobody

[2014-07-08 03:27] #87 closed, assigned to nobody

[2014-07-08 06:15] #54 closed, assigned to nobody

[2014-07-08 06:16] #68 closed, assigned to nobody

[2014-07-08 06:21] #5 closed, assigned to nobody

[2014-07-08 07:08] #64 closed, assigned to nobody

[2014-07-08 21:43] andyburke opened #115 "Updating to latest path-to-regexp breaks '*' matching..."
[code]

No longer works with latest path-to-regexp, you must specify an explicit regexp:

[code]

[2014-07-08 23:00] #72 closed, assigned to nobody

[2014-07-08 23:00] #70 closed, assigned to nobody

[2014-07-16 23:20] agondesign opened #118 "Best way to exclude only a few links from page.js"
Hi there,

Just wondering what would be the best way to exclude certian links from page.js' binding.

Ex: All links must obey page.js except in two cases:
1. Link has a hash (ex: for a navigation menu. the hash provides a non-js fallback via :target)
2. Link leads to an external URL (opens new window)

Right now the documentation suggests explicitly declaring which links should obey page.js, as th

[2014-08-14 21:25] antoniobrandao opened #119 "Question: instantiating Jade/whatever templates and passing in variables"
Is it possible in page.js route handlers, to render templates and pass in variables like one does in ExpressJS?

I know ExpressJS is something else completely, I am just looking for tinyest possible thing (like page.js) to accomplish this task, if page.js doesn't have a way.

[2014-08-17 03:41] DylanPiercey opened #120 "cdnjs.cloudflare.com?"
Is it possible to get this repo on the cdn?

[2014-09-03 18:11] #119 closed, assigned to nobody

[2014-09-05 04:00] kethinov opened #125 "bower install page.js results in non-current code"
`bower install page.js`

[code]

The `index.js` file doesn't match the most recent commits to master. A manual download of https://github.com/visionmedia/page.js/archive/1.3.7.tar.gz also shows the discrepancy.

[2014-09-22 13:20] 11111000000 opened #129 "multiple instances with same route"
Seems like page.js don't support this simple case:

[code]

?

[2014-09-22 20:40] #129 closed, assigned to nobody

[2014-09-24 02:19] em opened #130 "No way to handle 404 with indeterminate execution order"
I'm using page.js in an environment where I load individual components that set up their routes in an indeterminate order, for performance reasons.

This doesn't cause any problems with router handler precedence because I simply make the URIs not conflict.

However that is not a solution for 404 handling. I need a solution that would allow me to handle 404s without depending on it being the last r

[2014-09-28 19:28] #112 closed, assigned to nobody

[2014-09-28 19:37] #47 closed, assigned to tj

[2014-09-28 19:57] A opened #131 "publish 1.4.0"
@jonathanong I think we need to update npm version, because it is very different from what is now in the github repository.

[2014-09-28 20:07] A opened #132 "move new changes from page.js to index.js"
And make `page.js` by `browserify`. Also I think that we need to move `page.js` to `dest/page.js` to prevent commint to builded file.  #131

[2014-10-01 23:43] evanworley opened #136 "popstate confirmation"
Hello,

It would be nice if there was a way to handle popstate events before page.js routing kicks in. For example if the user is uploading data, I'd like to throw up a confirm before allowing the navigation to occur. The warning would say something like "Are you sure you want to navigate away from the current page, and terminate your upload?".

Right now I am doing this by injecting a popstate ev

[2014-10-02 17:48] evanworley opened #137 "Document route matching priority"
Is there any documentation anywhere which describes how routes are matched when multiple patterns match a given route. For instance

/projects/:id vs /projects/new. Both routes match the url "/projects/new". Does order of registration matter, or is there a hierarchy of match qualities?

[2014-10-05 09:16] #125 closed, assigned to nobody

[2014-10-05 11:52] #132 closed, assigned to nobody

[2014-10-07 08:39] A opened #141 "Fix cdn url"
`<script src="https://cdn.rawgit.com/visionmedia/page.js/1.4.0/page.js">` — 404. But `1.3.7` is pretty old version. Mb add both `tag` and `master` links? re #131

[2014-10-07 16:36] SonoIo opened #142 "Reintroduce the ignored bower.json"
When page.js is used with debowerify, bower.json should exists because debowerify looks for the “main” attribute to require the right file. Without bower.json it tries to fetch `page.js.js`.

This is the error

[code]

Thx

[2014-10-07 20:33] #136 closed, assigned to nobody

[2014-10-07 20:58] #102 closed, assigned to nobody

[2014-10-18 11:33] wereHamster opened #144 "page('string', 42) causes an exception in popstate event"
When the first argument is a string, the function expects a state object as the second argument. More precisely, an object which has a `path` property which must be a string. This property is then used in the onpopstate function. When state doens't have a `path` property, page.js crashes with the following stack trace: `onpopstate` -> `page.replace` -> `new Context` which tries to access `path[0]`

[2014-10-19 17:24] A opened #145 "fix jshint warnings in the tests"

[2014-10-19 17:28] #145 closed, assigned to nobody

[2014-10-27 11:42] A opened #147 "hashbang option"
https://github.com/tj/page.js/blob/master/index.js#L45-L49

[2014-10-28 16:33] #141 closed, assigned to nobody

[2014-10-30 23:15] kethinov opened #149 "Central place to list plugins"
The [plugins section](https://github.com/visionmedia/page.js#plugins) of the readme says there are no official plugins and briefly lists the querystring plugin under examples just to provide an example of one way of extending page.js.

I'm not aware of any other plugins that exist other than that one and the two that I made ([here](https://github.com/kethinov/page.js-body-parser.js) and [here](htt

[2014-11-02 22:46] #149 closed, assigned to nobody

[2014-11-04 08:25] phanect opened #152 "404 Not Found when entering URL directly"
I'm not sure this is bug or my fault, but let me post here.

I wrote following router and load file with `<script>` tag in `http://localhost:4000/index.html`.

[code]

I wrote link (`<a>` tag) to `http://localhost:4000/config/casts` in `/index.html`, and when I press the link, I can open `http://localhost:4000/config/casts`.
However, when I directly enter `http://localhost:4000/config/casts` to br

[2014-11-04 11:51] #152 closed, assigned to nobody

[2014-11-04 13:54] A opened #153 "make cxt.pushState public"
I think, we shall use `ctx.pushState()` from a middleware to prevent redirects from `page.unhandled()` method even the middleware has `next()` execution. That may be very useful for the apps that has many dynamicaly added middlewares. For example:

[code]

re #104

[2014-11-04 22:58] #85 closed, assigned to nobody

[2014-11-04 22:59] #93 closed, assigned to nobody

[2014-11-05 02:10] rstacruz opened #155 "npm publish 1.4.0"
the latest version in npm right now is 1.3.7.

[2014-11-05 09:42] #155 closed, assigned to nobody

[2014-11-05 09:51] rstacruz opened #157 "Idea: page.back()"
page.back() will be the equivalent of running `if (there's history to go back to) { history.back() }`.

[code]

Optionally, you should be able to pass a path to fall back on, in case you're trying to do `page.back()` on the first page.

[code]

To do this, we'll need to track history length on `Context#pushState`.

[code]

I have this implemented in https://github.com/rstacruz/repage.js — happy to

[2014-11-05 16:27] #153 closed, assigned to nobody

[2014-11-05 16:39] A opened #159 "ctx.handled"
We need to extend context with boolean `handled` to prevent unhandled redirection. This is very useful for dynamically added middlewares.
#153 #104

[2014-11-08 22:01] #159 closed, assigned to nobody

[2014-11-10 21:44] GianlucaGuarini opened #162 "Wrong urls using deep links"
I found that the page.base() context get lost using deep links on a page. This issue happens on any browser. Please update the basic/index.html adding the following link to reproduce the issue:

[code]

Now running the basic example alternating clicks on the contact/me link and on the other links on the page soon you will get urls like this one:
`http://localhost:4000/basic/contact/contact/contact

[2014-11-11 22:38] GianlucaGuarini opened #163 "The hashbang option is buggy"
The hashbang option needs to be covered by the unit test. At moment It is completely buggy.

[2014-11-11 23:21] ded opened #164 "initial dispatch with a query"
the following test-case does not alert `hello`

[code]

any ideas?

[2014-11-11 23:29] #131 closed, assigned to nobody

[2014-11-11 23:49] #164 closed, assigned to nobody

[2014-11-12 23:45] #162 closed, assigned to nobody

[2014-11-13 00:05] #163 closed, assigned to nobody

[2014-11-13 22:32] #147 closed, assigned to nobody

[2014-11-15 00:40] #118 closed, assigned to nobody

[2014-11-16 22:43] zevero opened #168 "Since 1.4 require() required?"
At least for me, this is a showstopper, since I don't want to use require().

[2014-11-17 17:41] totty90 opened #169 "Sometimes it triggers twice on the same url"

[2014-11-24 01:54] constantx opened #176 "a href ractive component and pagejs"
I'm using pagejs for client side routing. Have a ractive component like this:

[code]

[code]

Issue I'm running into is that the click will fire the pagejs route first (expected), and then immediately go to the new URL with a full page load (unexpected). The odd thing is with the same URL somewhere else on the page, pagejs works as expected (without a full page load).

I'm not sure if this is a b

[2014-11-24 21:29] #176 closed, assigned to nobody

[2014-11-25 08:30] kethinov opened #177 "page.js homepage differs from github readme"
The [page.js homepage](http://visionmedia.github.io/page.js/) which appears to be based off of the text of the [github readme](https://github.com/visionmedia/page.js/blob/master/Readme.md) appear to be out of sync. The page.js homepage appears to reflect a much older version of the readme. Is there a github repo somewhere for that site? Maybe some way to auto sync the readme from the github repo t

[2014-11-25 21:42] ghost opened #178 "pagejs doesn't run in node"
I'm writing an isomorphic app and would like to use pagejs as the url router on both sides (browserify/node js for prerendering mostly). It looks for a window object:
ReferenceError: window is not defined
    at Object.<anonymous> (/home/jeroen/projects/high5/node_modules/page/index.js:20:18)
    at Module._compile (module.js:456:26)
    at Module._extensions..js (module.js:47

[2014-11-26 01:19] stevemckenzie opened #179 "Routing will fail if history.pushState is not supported."
You would think that at the end of 2014, all modern browsers would support it across the board but unfortunately, I just discovered that Firefox Addons do not. Chrome extensions do though.

So with that said, the site we are currently trying to display via a Firefox Addon iframe ends up not displaying because of this issue.

The specific line that is causing this for my case is:
https://github.com

[2014-11-28 07:37] #178 closed, assigned to nobody

[2014-11-28 09:35] #38 closed, assigned to nobody

[2014-11-28 22:18] #177 closed, assigned to nobody

[2014-11-28 22:19] #168 closed, assigned to nobody

[2014-11-30 23:59] #44 closed, assigned to nobody

[2014-12-01 09:13] #142 closed, assigned to nobody

[2014-12-04 03:46] daddybh opened #187 "param with slash"
Hi, I encountered an issue in my search page.

 I have router like : `/search/:keyword/`, when keyword including a slash, eg: `/seach/markdown%20%2F%20wiki`, the regexp will match the item before slash.

I find there is a decodeURIComponent call at
https://github.com/visionmedia/page.js/blob/master/page.js#L437.

What's the concern to decode the url when doing match? Can we just remove it? :D

[2014-12-04 06:27] hoppula opened #188 "Reloading route without multiple entries to history"
I'm reloading views in my React app by calling `page.show("/my_current_route")`. While this works fine, it creates a new `history.pushState` entry every time the route handler is invoked and I'd like to have only a single history entry per url.

I experimented with `ctx.handled`and using following function as first route handler seems to accomplish what I want:

[code]

Setting `ctx.handled` to `f

[2014-12-08 11:11] #188 closed, assigned to nobody

[2014-12-12 16:42] skellyb opened #191 "Run on server"
I'm using page.js to handle routing in a React.js component. Works great in the browser, love the simple approach. Now I'd like to render the component on the server, but not surprising, the missing `window` variable in page.js crashes things right away:
[code]

On the server I just need this work in its most basic form. Pass a path into `page(path)` and the route's callback fires. Any advice? Sho

[2014-12-14 16:24] woodlandhunter opened #192 "On IE9/IE10 pathname can be empty for certain dynamically created anchors"
As subject says, possible IE10 bug/oddity. Save this gist as `examples/testqueryanchor/index.html` and run the example server. The dynamically added anchor will have a `.pathname` that's empty.

(I didn't test other IE versions, let me know if you'd like that done.)

https://gist.github.com/anonymous/b4c997d903c96b704ee0

[2014-12-15 12:21] A opened #193 "page.exit blocks a page dispatching"
Page'll dispatch `topics/` only when `next()` is called in `page.exit()`:

[code]

This behaviour is confused and its not seems like ordinary `page.show()` middlewares.  I think, the problem [is here](https://github.com/visionmedia/page.js/blob/master/index.js#L245). ping @hughsk

[2014-12-19 11:50] amitava82 opened #195 "Change url without triggering handler?"
I would like to programmatically change the url without invoking the the handler. For instance, I'm creating an entity from ui and when it is saved, I'd like to update the url in the address bar with /edit/:id url.

Another problem I'm having is that if active link is clicked, the handler gets triggered every time on the same route. Of course I could write some code to remove the anchor from activ

[2014-12-21 05:29] newjam opened #196 "support redirect with path parameters."
If I have this route

[code]

And I want to set up a redirect so '/foos/3' gets sent to '/foos/3/detail', there is no convenient way to do this. It would be great if the syntax allowed for this:

[code]

If the `to` path has the same parameters as the `from` path then the parameters are carried over.

Thanks!

[2014-12-29 21:21] samccone opened #200 "Do a new release of page.js"
There has been 40~ commits since the last release of page.js. Some of the commits are quite important to a functioning router.

Would you consider releasing 1.6 of this tool so i do not have to refer to a SHA off of master?
Thanks for much for this great tool. :heart:

[2015-01-02 14:07] charypar commented on #191
@skellyb I'm looking into your use-case just now. Did you get anywhere?

What I plan to do is use the Route class directly to create the list of route definitions and then walk through them to do the path resolution. I'll post a code sample if I get it to work.

[2015-01-03 19:10] skellyb commented on #191
Hi @charypar, this probably doesn't help you, but I ended up putting a small wrapper around page.js, preventing it from running at all on the server. I figured much of what page.js is doing is browser specific, so I use `route-builder` to parse the path and call the appropriate callback.

Similar to this:
[code]

Thanks for looking at this. Page.js is working great for me in the browser.

[2015-01-05 09:54] charypar commented on #191
Hey @skellyb. I ended up using the internals, as mentioned above. We already have a wrapper around Page.js because we have a more constrained use-case than a general callback, but essentially, for server side routing, we're defining routes using something like

[code]

and collecting the results in an array. Matching the routes and binding the named parameters then looks like this:

[code]

Sorry

[2015-01-06 06:54] quangv opened #202 "problem with npm install"
`npm install page` gives me following errors: `npm-debug.log`

[code]

[2015-01-06 06:56] quangv commented on #202
oops my `package.json` had `  "version": "0.2",` guess npm got upset, needed to be `0.2.0` ... carry on.

[2015-01-06 06:56] #202 closed

[2015-01-07 18:09] sunwukung commented on #195
+1 for this issue - anyone got any steer on this or is it something we need to hand crank?

[2015-01-07 18:26] merqurio commented on #195
+1 for this issue. Right now I'm doing it with some code:
[code]

[2015-01-07 23:37] jesseskinner opened #203 "ctx.params is an Array with properties, so it cannot be serialized with JSON.stringify."
The params are not serializable with `JSON.stringify()`, because they get turned into an empty array and the object properties are lost.

For example, if I have named parameters, like so:

[code]

then the result in the console will be like this:

[code]

Currently I have to do a workaround and copy the parameters over to a normal object before serialization. This works, but having a normal object

[2015-01-08 12:31] shuvalov-anton commented on #203
Hm.. I'm thinking about to use `object` instead `array` for ctx.params. Need to look does [this conditional][1] is working.

[1]: https://github.com/visionmedia/page.js/blob/master/index.js#L451

[2015-01-08 12:49] shuvalov-anton commented on #203
Looks like the conditional is not working because of [`path-to-regexp`][1] always returns array of the keys with `key.name`. I'm going to replace `params` with `object`. It's should resolve the problem.

[1]: https://github.com/pillarjs/path-to-regexp

[2015-01-08 14:45] bitplanets opened #204 "Hashbang doc is quite bad"
For the link `https://localhost/#!/neural` this is the config:

    page('/neural', function(){
        debugger
        require('client/_proto/neural/index')();
    })
    page({hashbang:true});

Please add that to docs. Your examples are like this `https://localhost/#neural` instead and I think will not work.

[2015-01-08 15:32] rstacruz commented on #204
Also, I think it should be documented that the proper way to link via hashbangs is still `<a href="/neural">`, not `#!/neural` as you might expect at first.

[2015-01-08 16:28] jesseskinner commented on #203
Fantastic, thanks so much for the quick solution!

[2015-01-08 16:31] shuvalov-anton commented on #203
@jesseskinner Is it work for you? :D If it is, then I'm going to merge the PR into the master.

[2015-01-08 16:54] jesseskinner commented on #203
@shuvalov-anton Yep, that did the trick. Thanks again!

[2015-01-08 16:54] #203 closed

[2015-01-08 23:25] duereg commented on #191
Maybe you should try something like [this package](https://github.com/kethinov/page.js-express-mapper.js) to solve the issue?

[2015-01-09 10:43] #191 closed

[2015-01-09 11:32] #157 closed, assigned to nobody

[2015-01-12 11:50] cloudAi opened #207 "this can't back"
http://localhost:4000/basic/#whoop

[2015-01-12 11:52] cloudAi commented on #207
http://localhost:4000  goto   http://localhost:4000/basic/#whoop  and then can't back http://localhost:4000

[2015-01-13 01:31] analog-nico opened #208 "Lib size really ~1200 bytes?!"
I just pasted the code into http://closure-compiler.appspot.com/home with advanced optimization and got "2.42KB gzipped". Is the 1200 bytes statement incorrect or do you use some particular compression that gets it down to 1200 bytes?

[2015-01-13 15:58] PaquitoSoft commented on #113
I hit the same stone with IE8 support.
It would be great to have a clear documentatio section stating the recommended way of using page.js in projects which need to run on older Internet Explorer versions.

[2015-01-19 23:50] liammclennan opened #209 "Hashbang routing does not work with file protocol"
If I load file:///C:/work/index.html page.js sets the url to

[code]

which makes the routes wrong. The file protocol is important because it enables page.js to be used with things like Apache Cordova.

[2015-01-22 02:00] EngineeringMode commented on #208
Wow, I got the same thing. Is the 1,200 byte quote just really out of date?

[2015-01-22 09:36] #208 closed

[2015-01-22 09:37] shuvalov-anton commented on #208
Yes it is. Good catch :D

[2015-01-22 22:48] criesbeck commented on #209
Just ran into this also, though outside Cordova. Would simply adding "#!" to the file URL you call in Cordova fix this for your purposes?

[2015-01-22 23:51] liammclennan commented on #209
I don't think so. The page('') function used to trigger routes sets the hash fragment incorrectly.

[2015-01-23 01:13] criesbeck commented on #209
Not following, I'm afraid. The [line of code](https://github.com/visionmedia/page.js/blob/master/page.js#L160)  that creates the URL first searches for #!. If it finds it, it uses whatever follows, so if your URL ends with #! it will append just the empty string. Only if #! is not found does it make the doubled URL.  I have a test toy HTML file that does page({ hashbang: true }) and gets the undes

[2015-01-23 04:08] liammclennan commented on #209
Sorry. I don't have a test page available to try it.

[2015-01-23 13:07] criesbeck commented on #209
What about editing the content element's src in config.xml to say "index.html#!" instead of index.html?

[2015-01-24 04:12] liammclennan commented on #209
That might work, but I don't have an application with which to test it.

On Fri, Jan 23, 2015 at 11:07 PM, Chris Riesbeck <notifications@github.com>
wrote:

--
Liam McLennan.

liam@eclipsewebsolutions.com.au
http://www.eclipsewebsolutions.com.au

[2015-01-27 05:13] usirin opened #210 "Publish to npm"
the version from `npm` doesn't include `page.back` functionality. Is this intentional? If not, can you please publish the version with `page.back`?

[2015-01-27 09:15] rstacruz commented on #210
ping @shuvalov-anton :)

[2015-01-27 09:16] rstacruz commented on #207
if that's what you're after, maybe `history.go(-1)` would work for you. `page.back()` will only work on states that page.js has navigated to.

[2015-01-27 09:17] rstacruz commented on #210
See #200

[2015-01-27 09:17] #210 closed

[2015-01-27 09:17] rstacruz commented on #200
merged. shall we?

[2015-01-27 11:19] shuvalov-anton commented on #200
@rstacruz @samccone Yes. I'm sorry for dalay. I'm going to release just now

[2015-01-27 12:01] shuvalov-anton commented on #187
In `1.6.0` you can use [`decodeURLComponents`][1] option to disable url decoding
[1]: https://github.com/visionmedia/page.js#pageoptions

[2015-01-27 12:08] shuvalov-anton commented on #200
yay! I've published [`1.6.0`](https://github.com/visionmedia/page.js/releases/tag/1.6.0) at last :D

[2015-01-27 12:08] #200 closed

[2015-01-27 15:24] rstacruz commented on #200
:heart:

[2015-01-27 15:31] samccone commented on #200
:heart: :heart:

[2015-01-28 07:39] daddybh commented on #187
@shuvalov-anton  thank you, I will git it a try later.

[2015-01-28 09:37] daddybh commented on #187
@shuvalov-anton I just upgrade to `1.6.0`, but still have problem after I removed all `double-encoding` codes.

I found out  there is a native `decodeURIComonent` call at https://github.com/visionmedia/page.js/blob/master/page.js#L484.

Since pathname have been decoded by function `decodeURLEncodedURIComponent`, can we remove it now ?

[2015-01-28 20:48] ivankravchenko opened #211 "escaping from base bug"
I have trouble with using base and external links.
For better understanding I've assembled [example](https://github.com/SE7ENSKY/page.js/commit/c8ed94c5f3e6de29c94c0e55f028f78a539bbd9e).
Foo and bar links are ok, but external foo isn't meant to be captured by page.js.
Notice same URL part – escape-from-base.

[Live website](http://fedoriv.com/hub/) with this case with language selector not working

[2015-01-28 22:23] shuvalov-anton commented on #211
@ivankravchenko thank you for example

[2015-01-30 07:57] mbektimirov commented on #115
This behavior doesn't represent in tests at all. The case `should invoke subsequent matching middleware` has `'/forum/*'`route defined on start, but doesn't check it.

[2015-01-30 08:30] rstacruz commented on #115
:+1: on this one.

[2015-01-30 10:41] shuvalov-anton commented on #115
@rstacruz the problem is that now we use the last version of `path-to-regexp` and downgrade will broke some backward compatible with `page@1.6.0`'s routing.

[2015-01-30 11:44] mbektimirov commented on #195
This is must have feature, just add the option like `{trigger: false}` for page nav.

[2015-01-30 13:49] LeJared commented on #195
I've run into the same problem and eventually found, that page.js actually supports changing the URL without triggering any route.

if you look into the code of *page.js*, you will find, that `page.show('/my/Path')` supports additional parameters to achieve what you want:

[code]
The last parameter suppresses triggering update events.

BTW: I've also found, that there is an additional peplace-Meot

[2015-01-30 21:22] supermensa commented on #169
Happened for me too - a fix that worked in my case, was re-ordering the routes.

From:
[code]

To:
[code]

[2015-01-30 22:36] supermensa commented on #88
I needed something similar, to allow the user browse back to initial the start page (base).

Added to page.start:
[code]

and calling page.start with:

[code]
or just use an empty object ```state: {}```

[2015-01-31 23:44] altano opened #212 "You now have TypeScript definitions"
Hey All,

I've made [TypeScript definitions](https://github.com/borisyankov/DefinitelyTyped/blob/master/page/page.d.ts) for this project readily available making this the easiest standalone router to use with TypeScript.  If you'd like to add the [DefinitelyTyped badge](http://definitelytyped.org/pages/badges.html) to your project badges it might help others in the future.  Your call.

Either way,

[2015-02-01 08:15] iamcarbon opened #213 "Popstate fired on initial page load causes double trigger (Safari 8)"
Safari 8 is still firing a popstate event after the page is ready. This causes a second match to occur and triggers the current route to exit and return. Chrome, IE, and Firefox are all OK.

Should a check to ignore the initial stateless popstate in Safari be added?

[2015-02-01 20:37] pavel commented on #208
http://visionmedia.github.io/page.js/ still says ~1200 bytes.

[2015-02-01 22:33] timothyerwin opened #214 "change global variable to something else"
I think page is too common of a name for this library. I want to use page as a local variable and this conflicts. I know I can reassign the name myself, but I think it would be nice if a different default global name is chosen.

router, vm.router, ???

[2015-02-02 01:41] markkemper1 commented on #88
+1 this issue.
I have hacked the start method to pass history.state

[code]

[2015-02-02 17:52] shuvalov-anton commented on #214
-1 from me. if you want to use page as a local variable and avoid global variables collision, you should use  it with [browserify][1] or [component][2].

[1]: https://github.com/substack/node-browserify
[2]: https://github.com/componentjs/component

[2015-02-02 18:14] timothyerwin commented on #214
yes, because all the users should have to go through extra effort to avoid collision with one of the most blatantly common variable names you could imagine.

[2015-02-02 18:28] shuvalov-anton commented on #214
Collision of the globals is a problem of bad app design. It's not a problem of page.js.  `window.page` should be nice in simple project, but in large projects you need to look for another solutions like browserify.

[2015-02-02 18:41] timothyerwin commented on #214
it couldn't possibly be a problem of bad global variable design?

[2015-02-02 18:58] shuvalov-anton commented on #214
Hah ;D mb, but you can't go to all "bad global variable design" projects and ask to rename their globals. What if somewho is using `router` variable too?

[2015-02-02 19:05] timothyerwin commented on #214
well, given that page.js _is_ a router, I assume it's much more realistic. but maybe that's why libraries have names like angular, react, riot, express, etc.

so, I think this is modeled off express.js (same author, no?), and it in fact has a class called Router to handle this server side, but it's namespaced under express:

[code]

so, I know there is also a library called superagent (good global

[2015-02-02 19:18] shuvalov-anton commented on #214
Are you honestly have this problem with the globals? Can you show me your case?

[2015-02-02 19:27] timothyerwin commented on #214
yes, I have a local variable called `page`, which I'm actually using in conjunction with page.js, since it's a natural use case in a single page app to load a page from the router.

once you define a local variable of `page` to reference your own page it overshadows the global page variable. I'm sure you can get back to it with `window.page` or in another case I just use `p` for my local variable.

[2015-02-02 19:37] timothyerwin commented on #214
if this were part of a client framework, lets just call it `coco.js` for now...

[code]

imo, that's much simpler and easier to understand.

[2015-02-03 00:21] shuvalov-anton commented on #214
My favorite way :D

[code]

[2015-02-03 00:36] timothyerwin commented on #214
did you mean:

[code]

that's all cool if you only care about simple appending and don't need to do other work with the page variable. there are workarounds here and there, but I think I've made a good case against the global name.

[2015-02-03 00:44] rstacruz commented on #214
:-1:.  people already use this library as `page`, and these kinds of issues are trivial enough that it's easily sidestepped. and as @shuvalov-anton mentioned, a setup with browserify/component would be ideal (for many reasons) and would avoid this issue altogether.

[code]

[2015-02-03 00:44] #214 closed

[2015-02-03 00:53] timothyerwin commented on #214
I'm using it through bower. how would I do it via browserify and how would that solve this?

[2015-02-03 08:05] supermensa commented on #214
@timothyerwin
How about just simply doing either passing in router to an anonymous function

[code]

or assign page to another variable,
delete the reference and set your own

[code]

[2015-02-03 19:18] hheiskanen commented on #187
@daddybh you still need to double-encode URL's that contain slashes -- the new `decodeURLComponents` option only decodes the URL segments as contained in the page.js Context object, but this does not affect route matching. If the URL decoding was removed before hitting the native `decodeURIComponent` at https://github.com/visionmedia/page.js/blob/master/page.js#L484 route matching would get stuck

[2015-02-04 03:25] markkemper1 opened #216 "Query string decoding"
The querystring is url decoded (in the same way as the path). However if the querystring has encoded '=' and '&' characters then you can't parse key / value pairs out of the result.

EXAMPLE:
http://test.com/?returnurl=http%3A%2F%2Fwww.test.com%3Fabc%3D1%26def%3D2&abc=3
ctx.querystring = "returnurl=http://www.test.com?abc=1&def=2&abc=3"

So the decoded '&' and '=' above causes issues.  I can't thi

[2015-02-05 06:52] asabhaney commented on #213
+1

[2015-02-05 07:23] jcoffland opened #217 "Need path-to-regexp when using CDN or browserify"
I cannot get version 1.6.0 to work with out manually copying in ```path-to-regexp.js```.  This should at least be documented.

Great project by the way.

[2015-02-05 07:55] jcoffland opened #218 "Back button does not work with hash links in Firefox"
If you click a hash link (e.g. ```/home#something```) Firefox's back button fails to work.  Here is a fiddle that demonstrates the bug:

  http://jsfiddle.net/oz97q94o/

Also, note that in the browser's history there are two entries for the hash link whereas a normal link only adds one entry to the history.  I think this is why it fails to go back.  When you hit the back button it removes one hist

[2015-02-05 08:07] shuvalov-anton commented on #217
Strange. How you install this module for browserify? `npm`, yep?

[2015-02-05 08:09] jcoffland commented on #217
I just copied the Javascript file into my project.

[2015-02-05 08:30] shuvalov-anton commented on #217
ah, I get it. You must use `npm install page` in you project dir. That command will fetch `page` from `npm` and install all dependencies it needed. But what's wrong with CDN?

[2015-02-05 08:34] shuvalov-anton commented on #217
Try to use [compiled verison][1] without browserify.

[1]: https://github.com/visionmedia/page.js/blob/master/page.js

[2015-02-05 11:04] jcoffland commented on #217
I'm using the npm version now.  I think CDN is fine.  I made a mistake there. Thanks.

[2015-02-05 11:04] #217 closed

[2015-02-07 16:39] ajf- opened #220 "Hash links (<a href="#link">) return to '/'."
Hello,

I'm following the "basic" example, and I'm noticing that if you are in ```/basic/contact```, and click ```#whoop```, the URL will return to ```/basic/#whoop``` instead of going to ```/basic/contact#whoop```.

This means that if I'm using ```ctx.path``` in my callback function for anything (right now I was using it to update the 'current' link in the menu bar), it will get the wrong path, b

[2015-02-07 16:58] ajf- commented on #220
I just realized that using the ```<base href="">``` tag makes hash links stop working (Is this a bug?).

[2015-02-07 16:58] #220 closed

[2015-02-09 07:00] uiureo commented on #213
+1

I ran into this problem when I use phantomjs in e2e testing.

[2015-02-12 03:20] robdodson opened #222 "weird infinite loop issue"
If I set `page({ hashbang: true });` before setting up my routes, the router gets stuck constantly refreshing the same page.

ex:

[code]

[code]

It seems like the router should be tolerant of setting configuration before defining the routes, unless there's a specific reason why you wouldn't want to do this?

[2015-02-16 11:58] shuvalov-anton commented on #218
I think, this issue should be closed

[2015-02-16 11:58] #218 closed

[2015-02-18 09:39] Makio64 opened #225 "Warning when use in webpack"
Hi guys,

There is a warning coming from webpack when using page.js because it's actually bundle by browserify.

I forked and push a version of the script wihout using browserify to create page.js witch works fine and respect the amd standard:
https://github.com/Makio64/page.js/blob/master/page.js

Because Page.js can be use in many cases, it will be nice to not bundle it automatically with browse

[2015-02-18 09:58] shuvalov-anton commented on #225
Hi! Probably it's webpack's problem webpack/webpack#319

[2015-02-21 21:20] #225 closed

[2015-02-21 21:32] shuvalov-anton commented on #212
I think it's should be useful for TS users. But I don't know how it work :D Can you make PR with badge?

[2015-02-25 13:45] sheepsteak commented on #213
+1

[2015-02-25 20:38] baio opened #228 "Base routing not working"
url - .../#!/user/edit

router

[code]

The base path callback is not invoked!

page.js "version": "1.6.1",
Chrome

[2015-02-25 22:49] shuvalov-anton commented on #50
closed with #140

[2015-02-25 22:49] #50 closed

[2015-02-25 23:00] A opened #229 "hashbang meta"
 Probably, `hashbang` isn't best feature for now.
- [ ] #222 looks like it's related to `hashbang` too
- [ ] #228 problems with `base`
- [ ] #209 problem with protocol
- [ ] #204 docs
- [ ] #242 Going to root url when hashbang is true, and you have something in location.pathname, duplicates pathname

[2015-02-26 02:06] orenf commented on #213
+1

[2015-02-26 15:52] bendik commented on #213
+1

[2015-03-03 17:11] jbest84 opened #230 "Back Issue When Saving State"
When saving the context state, you have to use history.back() or page.back() twice to actually go back. For some reason, the first back fires the route for the same view you are currently on. Here is my example: https://gist.github.com/jbest84/515a27929809358bd05b

If I move the context save to the show callback, I get the same results. Using version 1.6.1

[2015-03-04 05:38] QueueHammer commented on #222
Adding Page.js to a site I'm working on and ran into the same thing. @robdodson Thanks for the examples for `// Broken` and `// Works`. Especially the latter. :-)

[2015-03-04 21:15] alainjacomet opened #231 "How do you make the 'hash' example work when { hashbang: true }?"
The question says it all. I'm trying to make the example under `examples/hash/` work the same way it does, only using the `{ hashbang: true }` option, but no avail.

I've also tried setting `<base href="/hash/">`, but that seems to get into an infinite redirection. After that, removing `page.base('/hash')` seems to do the trick, but then the location bar displays `http://localhost:4000/hash/#!/has

[2015-03-05 05:35] markkemper1 commented on #213
Yes

[2015-03-06 08:29] TitanKing commented on #231
The #! is very dodge, for example if you type in the addressbar the following http://somesite.com/test#!/some-route it will work, but if you do http://somesite.com/test/#!/some-route (slash after test) it will not find the route.

So in your URLS do not have a slash after before the #!, I do not know if this will get fixed, I can probably look at it too.

[2015-03-06 10:07] TitanKing commented on #231
Ok just to follow up, do not rely on build in { hashbang: true } rather make page.base('/#!'), this seems to solve all issues so far.

[2015-03-10 14:22] spudly opened #233 "onclick handler fails to ignore download links"
There is logic in the onclick handler that is supposed to ignore files that have a "download" attribute. Unfortunately, it only works if you use the full attribute syntax (download="download").

The example below works as expected:
[code]

This example doesn't work as expected. Page.js thinks this is a route it can handle, so it prevents the default action (downloading the file) and issues a call

[2015-03-10 14:38] spudly opened #234 "onclick handler fails to ignore links that contain (but dont start with) the base url"
If a link does not starts with the baseUrl, it should be ignored by the onclick handler and should continue to have their native behavior.

Any link whose pathname contains (not starts-with) the base url will fail to be ignored by the onClick handler. As a result, links that should actually go to a different page are triggering page.js routes instead.

For example, if my app has a base url of "/b"

[2015-03-10 21:22] #233 closed

[2015-03-13 10:38] dbismut commented on #231
Thanks @TitanKing this sure helped!

[2015-03-18 11:43] JChapman202 commented on #228
This issue is not limited to hashbang: true.  It exists for both.  Additionally you can see this issue exhibited within the profile example included with page.js.

In that example you'll see the following routes:

[code]

However, when you run the example the 5 second timer never fires.  The page stays on that view forever since the `/user/*` is never matched by page.js.

[2015-03-18 12:06] JChapman202 commented on #228
At least related to the profile example above, this appears to be a documentation and example issue.  The underlying library [path-to-regexp](https://github.com/pillarjs/path-to-regexp) was changed to no longer support the /* wildcard routing.  Instead it relies on using (.*) see: [path-to-regexp#compatability-with-express--4x](https://github.com/pillarjs/path-to-regexp#compatibility-with-express-

[2015-03-18 18:25] hishayness commented on #213
+1

[2015-03-19 22:35] pr1ntr commented on #213
+1 ??

[2015-03-20 09:11] jackyon commented on #213
+1

[2015-03-20 19:54] shuvalov-anton commented on #213
pull requests are welcome

[2015-03-20 21:32] kethinov commented on #213
This should solve it: https://github.com/visionmedia/page.js/pull/239

[2015-03-20 21:47] #213 closed

[2015-03-20 21:56] shuvalov-anton commented on #213
It's time to release new version, I think :tada:

[2015-03-20 22:05] kethinov commented on #213
:+1:

[2015-03-25 05:28] codinfox commented on #234
Please update the documentation as well.

[2015-03-25 10:35] #234 closed

[2015-03-27 20:35] denevell commented on #231
Not sure if this affects you, but when I disable {hashbang: true} and set page.base("/#!") and have a url like localhost/~myuser/somepath/ then when I load the url, I get http://localhost/#!/~myuser/somepath/ which obviously fails on reload. Without the leading slash in the base, I get http://localhost/~myuser/somepath/#!/~myuser/somepath/

I'm having some real problems with #!, which is a pity be

[2015-03-27 21:25] denevell commented on #101
What's the href on the a link? #204 made me realize I need to put /link and not #!/link

[2015-03-27 21:28] denevell opened #242 "Going to root url when hashbang is true, and you have something in location.pathname, duplicates pathname"
Say you have localhost/~myuser/path

And you have hashbang set to true

And then you go to  localhost/~myuser/path

Then the url will be: http://localhost/~myuser/path/#!/~myuser/path/

This is because of:

[code]

It won't hit hashbang && ~location.hash.indexOf('#!') because there's no #! in the url.

So it will hit the other, giving you /~myuser/somepath/

If you change the statement to:

[code]

[2015-03-30 15:18] alekseykulikov commented on #213
Is is a time to release this fix? ;)

[2015-03-31 01:01] shuvalov-anton commented on #213
@alekseykulikov yep, but I'm going to merge #243 before release.

[2015-04-06 18:03] JonDum opened #245 "Wildcards no longer work via path-to-regexp change (docs need updating?)"
I got burned hard today and had to go down the rabbit hole.

Updated from an older version of page.js and many of my routes weren't working.

I narrowed it down to routes like `page('/profile/*)` and `page('/login/*')`. Examples of this are all over the Page.js docs as valid ways of wildcard-matched routes. Yet, when pathToRegExp gets its claws on it, it spits out a regex like /^\/login\/**\***(?:

[2015-04-06 19:39] shuvalov-anton commented on #245
#115

[2015-04-06 19:48] shuvalov-anton commented on #115
What do you think about downgrade to `path-to-regexp@0.1.3` like express? I'm going to read changelog to get what we will lose with the downgrade. //cc @JonDum

[2015-04-06 19:49] #245 closed

[2015-04-06 19:50] JonDum commented on #245
Ah don't know how I missed #115. Cheers I'll follow that one instead.

[2015-04-06 20:00] JonDum commented on #115
I think [blakeembrey's](https://github.com/pillarjs/path-to-regexp/issues/37#issuecomment-53442290 reasoning) doesn't work for page.js's use case. He argues that transforming `/*` is limiting for advanced routing so he decided to not take that trade off.

I argue that, by default, that limitation (allowing `/users/*`) offers more simplicity in both route setup and for new users' understanding, whi

[2015-04-06 20:24] shuvalov-anton commented on #115
Oh, looks like the downgrade is breaking existed code too. We have few ways: go back to our own `path-to-regexp` code, update the docs to match `path-to-regexp@1.x` or downgrade it.

I prefer to document the current version of `path-to-regexp` because it is more flexible. For example, I'm using special characters in my paths like this:

[code]

[2015-04-08 08:44] delgermurun opened #248 "query.js bug"
I know [query.js](https://github.com/visionmedia/page.js/blob/master/examples/query-string/query.js) used in example. But I use it and find a bug (I guess). Do you guys maintain it? If not, where is the repo?

Anyway here is the bug:
`qs.stringify({appId: 'new-i', hi: []});` returns `"appId=new-i&"`,

so `qs.parse('appId=new-i&');` returns `{appId: "new-i", "": ""}`,

so `qs.stringify({appId: "new

[2015-04-08 15:16] JonDum commented on #115
@shuvalov-anton Is it possible to have named parameter parsing to ctx.params when passing in a regex directly?

[2015-04-09 01:13] arunoda commented on #248
May be we can remove `&` if it comes at the end.

[2015-04-09 05:10] delgermurun commented on #248
@arunoda `qs.stringify({appId: 'new-i', hi: [], hii: '', r1:''});` returns `"appId=new-i&&hii=&r1="`

[2015-04-09 05:22] arunoda commented on #248
Oh!

On Thu, Apr 9, 2015 at 10:40 AM Delgermurun Purevkhuu <
notifications@github.com> wrote:

[2015-04-09 09:05] u9520107 opened #249 "loaded check doesn't work if page.js is dynamically loaded"
I found that popstate detection was broken in my project, but found nothing in the issues.
After a bit of tracing code, I found that the error comes from this piece of code:

*index.js:235*
[code]

Because my project would dynamically load in page.js after complete page load, this event listener would never be fired. Perhaps check document.readyState before setting up an event listener for this ca

[2015-04-09 17:48] bondarewicz opened #250 "partials example 404"
Could anyone point me into right direction of adding 404 route into the example ?
I assume views/notfound.html needs to be added but a bit confused where would be a best place to add the handler into main route index.js:

[code]

app.js :
[code]

[2015-04-09 20:20] shuvalov-anton commented on #250
IMHO, the simplest way is:

[code]

[2015-04-09 20:24] shuvalov-anton commented on #250
But I think, you can call `render.content()` directly in the routes middlewares, instead delegate it for `next()` middleware.

[2015-04-09 20:26] #250 closed

[2015-04-09 20:32] shuvalov-anton commented on #249
It's bad :( Yes, we need to check `readyState`. My fault, sorry

[2015-04-12 01:41] pke opened #251 "How to define "about:?" routes?"
I would like to define `about:config`, `about:libraries`, `about:blank` in my client app. How would I do that with page? So `about` is always required, everything else should be optional.

[2015-04-12 10:18] shuvalov-anton commented on #251
`/about:item(.*)`. You can try it in [the `path-to-reegexp` playground][playground]

[playground]: http://forbeslindesay.github.io/express-route-tester/

[2015-04-12 20:35] pke commented on #251
thanks. This does not seem to cover `about` and `about:`

Also I am running in a sandbox (Win8 Store App) and there history.pushState with "about" urls is not allowed for security reasons. Is there a way to prevent the Context of saving state? I'd monkey patch `Context.pushState` and `Context.save` as they are not needed in Single Page Windows Store Apps anyway.

[2015-04-12 21:55] shuvalov-anton commented on #251
That covers. I don't know the way to disable `ctx.save` besides monkey patching :(

[2015-04-12 23:20] pke commented on #251
Could we modify the route to when using `show("about:")` to set `context.params.item` to `""` instead of `":"`

[2015-04-12 23:29] shuvalov-anton commented on #251
You can experiment with `path-to-regexp` on [the playground](http://forbeslindesay.github.io/express-route-tester/).

[2015-04-13 12:30] gertsonderby commented on #193
At the same time, I'm having the problem that I want the ability to block on an exit route, but it seems to work inconsistently - specifically it pushes the history state even if next is not called. Related? Different issue?

[2015-04-13 13:02] gertsonderby commented on #80
I'm poking through the code now. Maybe separate the exits and route callbacks to either side of the history push, and ensure that interruption of exits also intercepts the push?

[2015-04-13 13:30] gertsonderby commented on #80
This seems to intersect somewhat with #193. I'm going to look at fixing both.

[2015-04-13 17:06] bondarewicz commented on #250
OK and what notFound might look like then ?

[2015-04-13 18:06] #249 closed

[2015-04-13 18:51] priyatam commented on #88
I have the same issue, where refreshing a page renders a 404. @markkemper1 passing history.state in page.start still returns 404. @shuvalov-anton: how do you propose to handle page refreshes with the current version?

[2015-04-13 23:24] ryanatkn opened #253 "1.6.2 errors when required on the server"
In 1.6.1 you could `require('page')` outside of the browser environment without issue, but in 1.6.2 you get "document is not defined" on line 20 and "window is not defined" on line 514. Is this something page should support? I'm depending on it for tests. Thank you!

[2015-04-14 04:57] shuvalov-anton commented on #253
What you want to get on server environment when you require `page`?

[2015-04-14 05:06] shuvalov-anton commented on #253
It's kinda strange to add `document &&` and `window &&` everywhere. Have we more simple way?

[2015-04-14 08:55] gertsonderby commented on #193
Should we do this for exit routes only I'm unsure of how Express deals with non-next'ing middlewares, does it do similar things to what's described in here?

[2015-04-14 13:12] ryanatkn commented on #253
I agree it's strange to add `document` and `window` checks throughout the code like [this pull request](https://github.com/visionmedia/page.js/pull/241) does. My use case just needs page.js to be required without throwing an error. The first reply to that PR suggests bailing out of the module early if the browser globals aren't detected. Another option is to just fix the two lines that break at th

[2015-04-14 22:27] ryanatkn opened #255 "Making `onclick` and `onpopstate` accessible from user code"
I originally opened this issue by accident but I figured I'd use it to ask a question I had.

I'm currently intercepting some clicks to run an async operation that may or may not continue with the click event. The use case is showing a log in modal before navigating to any routes that require authorization. I don't want the transition to occur until a user is authenticated, so I don't think middle

[2015-04-16 20:01] jamesalley commented on #253
+1. We are using Page in an isomorphic app and get the same error.

[2015-04-17 00:23] shuvalov-anton commented on #253
closed with #256. I'm going to release `1.6.3` on weekends

[2015-04-17 00:23] #253 closed

[2015-04-18 08:32] delgermurun commented on #248
I've found maintained version. That is https://github.com/hapijs/qs.

[2015-04-18 08:32] #248 closed

[2015-04-21 08:56] gubagu opened #259 "Support IE 8 and IE9"
Hey there,

First great routing plugin !
I am using it for a SPA that should work client side in IE8+ but i came across unsolvable problem.
The routing does not seem to work in IE8 and IE9.
In IE8 added a polyfill for add/removeEventListener and the HTML5-History-API it load the first page but the rest of the routes do not trigger page.js at all and it render a blank url does not exist browser pag

[2015-04-21 14:55] 74io commented on #259
Me neither. Can't get it to work in IE9. Any pointers or tips as to how the latest released has changed and which polyfills are required? I hope so as its an excellent router.

[2015-04-21 21:15] gubagu commented on #259
I tested also the example pages with HTML5-History-API under IE9 also do not work. Did something change? Because the page.js is supposed to support IE8+ ?
By the way IE8 does not have addEventListener nor removeEventListener page.js is relying on.
Is that new ?

[2015-04-22 17:28] roeltz commented on #230
I too have this issue right now. What I have observed is that, whenever a new URL is routed, the context.state object has the state of the previous history entry. Thus, whatever you write to that state, ends up discarding the first of all states, and having a duplicate last state. Even the built-in context.state.path property gets overwritten.

[2015-04-24 05:52] amitava82 commented on #259
Same issue here. It triggers "*" route handler

[2015-04-26 20:51] Flayks opened #260 "Page.js and hashchange"
I'm using Page.js and a [Swiper](https://github.com/nolimits4web/Swiper) slider with the `hashnav` option set to true to activate hash navigation through the URL. The fact is that hash is detected by Page.js and it's firing my load & animation events.
Do you know how can I block this behaviour for a specific kind of link?

[code]

Problem detected:
* website.com/serie/name/photos/#photo-name-1 ->

[2015-04-29 09:15] LiamChapman commented on #230
is there a fix for this? I'm getting the same issue.

[2015-04-29 22:20] jcoffland commented on #115
This really needs to be fixed one way or the other.  The docs say I can do this ```page('/user/*', load)``` but that does not work.  I really have to do this ```page('/user/(.*)', load)```.

[2015-04-29 22:26] jcoffland commented on #120
I tried to do this here: https://github.com/cdnjs/cdnjs/pull/4597.  Unfortunately my PR failed testing.  Anyone know how to do this the right way?

[2015-04-29 22:33] jcoffland commented on #115
One option would be to require users to pass an actual regex object if they want to do a full regex.  Then you would have:

    page(/\/user\/(.*)/, load);

or

    page('/user/*', load);

page.js could then contain code like this:

[code]

The only problem is this breaks existing code like this:

    page('/user/(.*)', load);

But matching is broken anyway.  A workaround might be to check paths f

[2015-05-01 23:30] #260 closed

[2015-05-01 23:30] Flayks commented on #260
Got fixed using a custom hash navigation for slides.

[2015-05-02 20:55] jcoffland commented on #120
You could add a mention in the docs and close this ticket.  I got page.js on cdnjs.  See: https://cdnjs.com/libraries/page.js

If I did it right it should autoupdate when the next version is released.

[2015-05-04 10:52] shuvalov-anton commented on #229
Hashbang navigation is a super buggy feature of the pagejs and, IMHO this feature isn't required by most of the users. I can move the hashbang from core into the separate plugin. This change should simplify the core. I need some time to make the idea out. All opinions and comments are welcomed // cc @kethinov @rstacruz

[2015-05-11 12:54] rstacruz commented on #229
:+1: on removing hashbang.

[2015-05-11 17:05] alolis opened #262 "Set browser url with pushState"
Hello,

I am having problem figuring out how do I set the browser url

`page.replace('/foo', ctx)` seems to be one way but I am not sure if this is the appropriate one.

My apologies for the trivial question

[2015-05-11 18:11] shuvalov-anton commented on #262
@alolis yes, it is this.

[2015-05-11 18:12] alolis commented on #262
Cheers

[2015-05-11 18:12] #262 closed

[2015-05-11 20:33] andineck commented on #115
I use page.js in a isomorphic app. I would appreciate the downgrade approach and favour a simpler live for the users of page.js. regex is really not every ones favourite.

[2015-05-15 17:30] paulocoghi commented on #259
You probably have already done this, but just to be sure, did you create the .htaccess file (and in case of nginx the correspondent config rule)?

[code]

[2015-05-15 17:47] paulocoghi opened #263 "Dynamic parameters in root"
Is it acceptable to use dynamic parameters in root `/:something`? (after all the other routes, of course)

I have a structure with some routes, like this:

[code]

And I want to do this:

[code]

[2015-05-15 20:22] shuvalov-anton commented on #263
And what wrong with your example? I think, it should work as you want.

[2015-05-18 13:03] paulocoghi commented on #263
Yes, it works!

[2015-05-18 13:03] #263 closed

[2015-05-20 14:39] jjog1 opened #264 "el.pathname not returning leading '/' in IE 10 & 11"
We're passing a '/' in as the base. In our element we have a href similar to test/123. In Chrome and Firefox el.pathname returns /test/123. However, in IE it is returning test/123.

So in IE when the Context is being created it removes the middle '/'. e.g. test/123 becomes test123.

I'm going to start working on a pull request now.

[2015-05-21 14:02] jjog1 commented on #264
Managed to find a work around instead. We don't set page.base when we're using IE and then it acts as we expect.

[2015-05-21 14:02] #264 closed

[2015-05-21 20:30] btknorr opened #265 "test/page.js is a symlink?"
Why?  This is causing our Jenkins build to break when creating a docker container.  Can we get this removed please?

[2015-05-21 20:50] btknorr commented on #265
We of course worked around it...but was a pain to figure out.  Still would like to get rid of this symlink please.  Thanks.

[2015-05-25 05:50] dannydulai commented on #15
was having an issue with the example, only to fix it by reading @rauchg's comment. The example really should be updated to use ctx.querystring.

[2015-05-26 21:02] gcorne opened #268 "Context changes even if page.exit() includes redirect"
In the following example, which is taken from code that imitates `beforeunload` in a dirty form checker. The first time through the code works as expected, but the second time through `path` will not match the `path` path that is set via the `page.replace()` call.

[code]

It seems like setting `prevContext` should only occur when there is an actual starting to handle the route.

[2015-06-01 15:52] jonathanamartin opened #270 "Map route path to callback after calling page.start();"
Very nice looking router.  It looks like it has everything I'm looking for.  The only quesiton I have is around dynamically adding routes.

I have a need to map path's to additional callbacks after the page.start() function has been invoked.  Is this supported?

Would I just call page.start() again?

[2015-06-01 23:32] shuvalov-anton commented on #270
Only if added routes related to current url.

[2015-06-04 07:38] jbest84 commented on #230
I can reproduce in the examples/state app by commenting out the setTimeout in the load callback. I will look into it more tomorrow.

[2015-06-08 23:36] DanielMiddleton opened #273 "Attaching onpopstate to hashchange?"
I ran into a bug this afternoon where some of my routes weren't working in IE (10 and 11). We're using hashes for certain in-page routes (not hashbangs though), to trigger loading certain overlays. The route would get populated but the content wouldn't be shown, because the onpopstate event was not fired, because it was only a hash change.

Attaching onpopstate to the hashchange event in page.star

[2015-06-12 03:03] ronanpaixao commented on #242
Any idea on when this will be fixed? It's quite annoying and appears easy to fix.

[2015-06-12 03:18] ronanpaixao opened #276 "Opening a link with middle mouse button click doesn't get intercepted to add the hashbang"
When using hashbangs, if the anchor href is set to `"/page"`, for example, it appears as `<root>/page` in the browser, but a left-click gets intercepted and `<root>#!/page` is loaded, preserving single-page-application functionality.

However, if the user clicks the link with the middle-mouse-button, the browser takes the href as-is and inserts in the new page/tab, without the hashbang, therefore

[2015-06-12 03:19] ronanpaixao commented on #276
A simple workaround is changing all hrefs manually to `#!/page`, but that doesn't seem right.

[2015-06-12 16:45] mourtazag opened #277 "htaccess example"
Hello everybody,

I'm discovering page.js and I'm having fun with.
I would like to know if someone could give an example of .htaccess file. I would like to handle direct url !

Thanks everyone !
Mourtaza.

[2015-06-16 16:32] tjyrkinen commented on #259
@amitava82 Thanks a lot! Went the monkey-patch route on it for a quick fix and saved hours of debugging time there. Fixed navigation issues on IE9 for me for now.

[2015-06-25 10:30] dukedougal opened #283 "Some newbie questions"
I have added page into a fairly ordinary HTML template purchased from Themeforest.

The HTML template has links on the menu that slide open other menus, but with page installed they seem to have stopped working.  Can you suggest why this might be happening?

Also, how do I tell page that I want a link to behave like a normal HTML link and send a request instead of it being handled by page?

thanks

[2015-06-25 19:14] raine commented on #231
This is really weird behavior.

[2015-07-01 10:20] PaulHMason opened #285 "Navigating to custom route."
This is probably a stupid question, but I can't figure it out.

I've set up a web application with a bunch of routes, e.g.

http://localhost/subfolder/#!/home
http://localhost/subfolder/#!/one
http://localhost/subfolder/#!/two
http://localhost/subfolder/#!/three

The first (home) is mapped to the root url. If I try to navigate to http://localhost/subfolder/#!/two directly in a new browser window i

[2015-07-01 10:50] ibc opened #286 "page.back() causes page reload"
* Initial URL: `http://localhost`
* `page('#test1')`
* Current URL: `http://localhost/#test1` (no page reload happened, OK)
* I press browser "back" button.
* Current URL: `http://localhost` (no page reload happened, OK)

Now with `page.back()`:

* Initial URL: `http://localhost`
* `page('#test1')`
* Current URL: `http://localhost/#test1` (no page reload happened, OK)
* `page.back()`
* Current URL

[2015-07-01 12:16] rstacruz commented on #286
that indeed is not supposed to happen. can you make an isolated test case?

[2015-07-01 12:18] ibc commented on #286
I'm so new to this library and I do not yet whether I'll need it or not, so I cannot spend the required time to make a proper test unit.

Said that, it is easily reproducible via the JS console by performing the exact steps explained above.

[2015-07-01 22:43] jstejada commented on #242
:+1:

[2015-07-02 20:55] ccorcos opened #289 "hash causes page reload"
I have a route like this: `'/profile/:id'`

And when I go from the first href to the second, theres a page reload and I have no idea why.

[code]

[2015-07-05 15:47] ibc opened #290 "Doc in page.exit() is wrong"
In https://github.com/visionmedia/page.js#pageexitpath-callback-callback- the example should have `ctx` as first argument:

[code]

[2015-07-06 14:21] joeyroosing commented on #242
I tried the code provided by ronan, it indeed fixes the issue. When will this be released?

[2015-07-07 10:32] sshadmand opened #292 "Manually changing the URL causes 404 when using Hasbang=true mode"
##### To reproduce:
 - Run the examples project "Basic"
 - Click the "Contact Me" URL
 - You will now have  "/basic/#!/contact/me" as the URL path
 - Now, manually remove the "/me" from the address bar's URL. Press enter to load the URL

##### Current Result:
 - Nothing happens
 - Press enter again in the address bar and the page loads properly

##### Expected Result:
 - /basic/#!/contact should l

[2015-07-08 10:15] pierissimo opened #293 "Change history state during navigation, break page.js"
Hi!
I have to change history state during the change of a slide of a slider in my webpage.
I use history.js:

[code]

I also have a route registered with page.js:
[code]
When i use back and forward browser button, i got this error:
``
Uncaught TypeError: Cannot read property '0' of undefined
``
The error is from the page.js file, in this function, at the second line:
[code]

Anyone knows how i can

[2015-07-10 11:39] danielhickman commented on #229
+1 and /sub

[2015-07-11 01:38] Mr0grog commented on #216
I'd *really* love to see this fixed as well. Just tripped over it while using this plugin on a somewhat sizable project, and now my codebase has code to parse `context.path` for the querystring :\

[2015-07-12 20:02] Elements-AIS commented on #292
Have you tried configuring the base path?

    page.base("/basic");

Without the base path set the context path gets prefixed by the characters preceding the hash bang when the URL is manually entered. This does not occur when calling page(path) though

See the context instantiation in method page.show.

This happens even when the base path is simply "/"

eg. manually entering "http://some.thing.h

[2015-07-13 08:31] pierissimo commented on #293
No one?
There is not supported way to push a state and made it working with page.js?

[2015-07-14 15:33] osiloke opened #294 "Every page route is causing browser to load the route"
I'm using systemjs for managing imports and i have a basic pagejs sample setup as shown below. When i change the route to any available paths, the browser reloads. I'm using page.js 1.6.3 from npm.
in app.js
[code]

in index.html
[code]

[2015-07-14 15:37] #294 closed

[2015-07-14 15:38] osiloke commented on #294
I closed this because i believe this is related to the fact that page.js does not listen to browser url changes entered by the user

[2015-07-14 17:04] #255 closed

[2015-07-15 01:34] ooscarr commented on #231
I added
[code]
to my [polymer routing.html](https://github.com/PolymerElements/polymer-starter-kit/blob/v1.0.2/app/elements/routing.html) file, it's ugly but at least it loads, using `{ hashbang: true }`

[2015-07-15 05:16] nsisodiya opened #295 "Callback is fired before URL got changed"
I was using Davis router library, I tried page.js, there i noticed a strange thing. My route callback are being fired before the url change.
Let me explain,
I have a route called `/user/345`
now, let support, I am page `/team` , I clicked on url link ( `/user?id=345`), when I click this link, my module got loaded. When my module loads, it needs id  (Ex `345`) - so, I am extracting id from page url

[2015-07-15 05:34] nsisodiya opened #296 "Dynamic Routing with page.js & Unsubscription"
I am unable to see any example on dynamic routing with page.js
Consider, an App which has navigation bar which 10 link, each link will load a new module. Let imagine we want to have a nested route. a module can have some tabs. Now when this module get loaded, only after that I want to register my route callback.
[code]
It is possible to add new routes dynamically ?
Again, when the module is unload

[2015-07-24 14:59] bensmeets opened #298 "Get "upcoming" pathname in .exit()"
I use transitions to go from A to B. When entering B, i have a global variable hacked in, that stores the previous page's pathname. I would like to do the same for .exit() as well.

E.g., When going from A to B, I want everything animating to the left, when going from B to A, i want everything going from right to left. So I need to be able to read the next page's pathname in an exit handler of a r

[2015-07-27 07:11] wereHamster commented on #295
Use `ctx.params.id` instead of reading `window.location`.

[2015-07-28 20:16] Frikki commented on #242
But `#!` isn’t added to the path if hashbang is set to true.

[2015-07-29 09:19] tunderdomb opened #299 "Inconsistent location state in route handlers"
The problem:

When you navigate with the back/forward history buttons, pagejs handles the change in a callback.
In this case, the location state is up to date. `location.path` is the current, `location.search` and everything is what you'd expect.
On the contrary, if you use pagejs to `show()` a url, it doesn't push state until after routes were matched.

This is inconsistent because your routes ca

[2015-07-29 11:30] aunz commented on #230
Reporting the same issue here with ctx.save(), requiring page.back() or back button twice

[2015-08-04 05:47] ronkorving opened #300 "Readme's Context chapter never mentions "params""
Was looking for how to extract variables from routes, and took a while to find it. I think params should probably be explained in the Context chapter.

[2015-08-06 17:11] efyx commented on #289
As a workaround you can add ` <base href="">`  to your ` <head>`  this looks to fix the issue (source https://github.com/visionmedia/page.js/issues/220 )

[2015-08-06 18:11] iiison opened #302 "Not able to do routing properly in page.js"
I am using page.js for routing in a Single Page Application. For testing purpose, I am using `npm http-server`.

I am not able to do routing. I am not sure what I am missing. following is my code:

index.html:

[code]

routes.js

[code]

from my `http-server`, I am accessing `http://0.0.0.0:8081`. I am getting an test as `alert`, but I am not getting the `alert` for route `http://0.0.0.0:8081/test

[2015-08-06 20:47] ascii-husky commented on #298
I think page.current is the new route

[2015-08-07 14:43] shuvalov-anton commented on #302
@iiison you need remove `page.base('/')` from your code.

[2015-08-07 20:01] iiison commented on #302
@shuvalov-anton yes, I figured that out. but I am still not sure when should I use page.base('/').

Could you please help me with that.

[2015-08-09 22:09] mushishi78 commented on #115
Please update docs!

[2015-08-12 07:15] ahcheqiu opened #304 "wrong routes when changing url in browser's address bar with hashbang set to true"
Here is the test case
[code]
when I click the link, it all goes well.
but when I change url in browser,for example from /user/index to /user/index/?id=5, the console keeps outputting not found
Is this the expected behavior or not?If yes, is there other ways to debug except using page(path) in console which can't be used in mobiles?

[2015-08-14 00:00] ryanscherler opened #305 "Wildcard route navigation issues"
It seems with wildcard routes that the page state will not change when navigating to another wildcard route URL.

Example route definition:

[code]

If I click on a link: /admin/pages/about/our-services - this correctly loads the route (the first time coming from another location)

If I then click on another similar route wildcard link such as: /admin/pages/contact/request-documentation - the URL

[2015-08-14 14:57] gertsonderby opened #306 "Paths URI-decoded twice"
Within Route.match(), there is the following construction:

[code]

As a result, unless the option `decodeURLComponents` is passed to Page.js, the path is first URI-decoded, and then the individual components are decoded *again*. As a result, a path which contains a URI-encoded % blows up with an "URIError: URI malformed" message. If the option is passed, the path is decoded, but only before match

[2015-08-17 22:05] dinkelburt commented on #259
+1
Looked at #288 and after applying the changes locally, it fixed the issue for me. Would like to see it merged.

[2015-08-22 22:15] yonathan9669 opened #307 "wildcard "*" not fire the callbacks and "(*)" throw exception"
Hi, i'm building a polymer app using page as middleware for the routing but i'm getting stuck with some issues.

Quick intro: I separate the routing structure on 5 files, in which 3 of them has the functions definitions for the callbacks corresponding to what i need for each one of them. 1 file correspond to the share callbacks that the last 3 will require. The last file is where i setup the routi

[2015-08-27 18:46] ozasadnyy commented on #276
I have the same issue, and this workaround doesn't work on a simple click.

[2015-08-27 20:19] ozasadnyy commented on #276
I have found another solution:
[code]

Link example:
[code]

I know it's not the best, but it works for me

[2015-08-31 15:50] woodlandhunter commented on #192
I can confirm this bug still exists in IE9/IE10

I created a fiddle. Click on the links in order and see the ctx.pathname is empty for a dynamically created anchor with only a query string (the last link).

http://jsfiddle.net/jqce6sbt/

[2015-09-04 20:17] JChapman202 commented on #307
This is a bug in the page.js (there are quite a few bugs in the docs from what I've seen).  In order for the wildcards to work you must enter them as the following:

[code]

Keep in mind it's really just describing a regular expression and (*) isn't a valid regular expression but (.*) would be a valid expression where it matches any number of any character.  The reason '*' works is because they ac

[2015-09-07 12:35] gertsonderby commented on #307
Page.js (mainline) currently uses an old, somewhat broken verison of pathToRegexp (the library that Page.js and Express use to convert the path definitions to regexes that can be matched). The current version of that library is v1.2.1. I solved that by creating a new npm-package with my own changes. I advise you do that same. Or work around it as described above.

[2015-09-07 12:38] gertsonderby commented on #299
I'd add the caveat that location state should only be updated after completing any and all exit routes. Otherwise, I am in agreement.

[2015-09-07 12:40] gertsonderby commented on #299
Oh, and I worked around this issue by using `page.current` in the cases where I needed to extract the current location. This will yield the entire path, including hash and query, as Page.js currently understands it (i.e. updated for show() calls etc.). You can then split this string out to obtain path, hash and query separately. Not ideal, but it works.

[2015-09-07 12:45] gertsonderby commented on #115
PathToRegexp v1.2.1 fixes this problem, is used by Express.

[2015-09-13 21:49] asfktz commented on #304
+1

[2015-09-14 10:52] wenerme commented on #231
I meet the same problem, this is how I solve, awkward but works

[code]

After this, use `http://localhost:5000/#!weapon/2/edit` instead `http://localhost:5000/#!/weapon/2/edit`.

Will pagejs attempt to fix this ?

[2015-09-16 22:40] alberthier commented on #304
Same issue here.
This PR fixes the issue : #281

[2015-09-18 00:32] jonathanamartin commented on #270
Ah okay.  Thanks for the info.

[2015-09-18 00:32] #270 closed

[2015-09-18 11:46] gertsonderby opened #315 "State of the project"
I note with some worry the increasing number of issues and PRs on this project, and low maintenance activity. What is the status of the project, in terms of activity? Can we expect to see it return to active maintenance in the foreseeable future?

[2015-09-19 21:47] shuvalov-anton commented on #315
Hi @gertsonderby! Now I have lack of time to support the project. But next one problem is I don't write so many code now and especially SPA things with pagejs. Mb in near future I will return to maintenance. If you want to cleanup issues and to review pull requests in the project you are welcome :D Just ping me

[2015-09-22 08:18] pierissimo opened #316 "Exclude some link from click bind"
Hi everybody!
Is there a way to accomplish that?
Thanks!

[2015-09-22 21:13] shuvalov-anton commented on #316
Yep. You can add not empty `target` attribute to your link, or use a way described on #118

[2015-09-22 21:13] #316 closed

[2015-09-24 11:55] panych opened #317 "Correctly falling back to canonical (default) URL change in handled route"
Sometimes it is necessary to falling back to canonical (default) url change form handled route. In this case ```location.href = canonicalPath``` is not enough. You'll stack with issue when Back history button only change URL without actual content load.

(Todo: steps to reproduce)

Workaround can be found in "unhandled" function: https://github.com/visionmedia/page.js/blob/dc99caacbd0b41c19212bc83

[2015-09-25 15:22] laicosly commented on #228
the behavior I'm seeing with .base makes no fucking sense...

[2015-09-26 03:48] hems commented on #157
for some weird reason, page.back() and history.back() doesn't work on my application running on chrome.

the URL changes but the route isn't triggered again

[2015-09-30 10:22] amitava82 opened #318 "How to handle browser back/forward button?"
Similar to document unload, I want to prompt user before navigation and either continue or cancel based on user input. I tired middleware function (do not invoke next() if user want to prevent navigation) however, url remains changed.

[2015-09-30 18:49] duongphuhiep opened #319 "Named wildcard accessed causes strange behaviour"
page.base("/hcqh/admin");

	page('/file/:file(.*)', function (ctx) {
		console.log("OK", ctx.path, ctx.params.file);
	});

	page('*', function (ctx) {
		console.log('404', ctx.path);
	});

	page({
		hashbang: true // add #! before urls
	});

Manually enter the following urls on Chrome then Enter:
* `http://localhost/hcqh/admin/#!/file/foo1` => **404** `ctx.path = //file/foo1` (the `ctx.path` is st

[2015-09-30 22:14] duongphuhiep commented on #319
it strange, things seem re-work now!

[2015-09-30 22:14] #319 closed

[2015-10-01 23:56] duongphuhiep opened #320 "How to cancel the page leaving"
http://stackoverflow.com/questions/32898543/page-js-cancel-page-leaving

On a **single page application**, the client is editing a big form at

`localhost/#!/product/123/edit`

- He navigates away, I want to display a confirm dialog "Are you sure to leave?" [OK] [Cancel]. If he click on [Cancel] he must stay with the form.

- Here is my current implementation

[code]

The problem: each time I clic

[2015-10-02 14:02] woodlandhunter commented on #300
There's a section:

https://github.com/visionmedia/page.js#working-with-parameters-and-contexts

Is this not what you are referring to?

[2015-10-02 14:15] woodlandhunter commented on #315
@shuvalov-anton

I would be willing to tag issues, make minor fixes/doc corrections, things of that nature.

Can we at the very least do a new release to incorporate the newest version of path-to-regexp (1.2.1)? This version restores the previous wildcard behavior and as such will close a handful of related issues (preventing new ones as well I don't doubt).

[2015-10-02 22:01] shuvalov-anton commented on #315
@woodlandhunter Looks good to me. Can you make a patch w/ path-to-regexp 1.2.1?

[2015-10-05 02:37] ronkorving commented on #300
You're right. I think I was going top-to-bottom, not taking the time to read all the docs, and what I needed wasn't at the place I was reading (lazy...). Anyway, it is documented, so I'll close this.

[2015-10-05 02:37] #300 closed

[2015-10-05 09:58] amitava82 commented on #320
same question #318
Looking for answer. If we had access to previous route, I suppose we could do `page.replace`

[2015-10-05 18:45] woodlandhunter commented on #315
Yes, see #323

Thanks.

[2015-10-06 14:18] woodlandhunter commented on #307
@yonathan9669 Could you test the current `master` branch and confirm it's now working?

The path-to-regexp dependency has been updated which should resolve this issue.

[2015-10-07 08:37] pangard commented on #320
I had the same problem, what I did is set
[code]
when I raise the dialog (a bootstrap modal).
Works fine, except for a small glitch: If I modify some input field, then attempt navigation to clicking a link, then choose to stay in the page, then if I hit *the same link*, *no action* is triggered. Other links work fine.

[2015-10-07 08:41] amitava82 commented on #320
I modified page.js with following
[code]
And then use it like so:
[code]

[2015-10-08 08:41] jorgecasar commented on #315
I'm having some issues using this project with Polymer, we made a routing component wrapping pagejs. @shuvalov-anton I can help you with the maintenance if you want, because we are doing a hard use of the library.

[2015-10-08 08:53] shuvalov-anton commented on #315
@jorgecasar Thank you! You're strongly welcome :D Just ping me, when you want to merge something. Be respect with tests and commit rules.

[2015-10-08 13:42] woodlandhunter commented on #315
@shuvalov-anton can we get this release pushed to npm ? Is there something else I can do to help with this?

[2015-10-08 20:57] shuvalov-anton commented on #315
@woodlandhunter Just I should publish it. I can do it tomorrow. If you want to help you can update `history.md` and test it. // cc @gertsonderby

[2015-10-09 09:53] gertsonderby commented on #315
I asked the original question because I myself don't really have time to devote to maintenance of this project - I'm tied up in several others at this point. I'm very happy that others do, however, and in future I may also be able to. For now, however, I can't.

[2015-10-09 14:29] woodlandhunter commented on #315
@shuvalov-anton Added #325 to update `History.md` and fixed the only existing test that hit the wildcard routes. Let me know if I can do anything else.

[2015-10-14 08:41] shuvalov-anton commented on #315
@woodlandhunter i'm going to release 1.6.4 today.

[2015-10-14 14:07] woodlandhunter commented on #315
Great! After that I will go through the open issues that pertain to wildcard routes.

[2015-10-14 22:25] shuvalov-anton commented on #315
@woodlandhunter `page@1.6.4` landed on npm :D

[2015-10-15 16:10] woodlandhunter commented on #307
@shuvalov-anton Recommend closing. Fixed with 1.6.4 release.

[2015-10-15 16:13] woodlandhunter commented on #228
@shuvalov-anton Recommend closing. @baoi's original issue is fixed in the 1.6.4 release

@laicosly Please open a new issue describing your problems with `page.base()`. The original issue here is not about `page.base()`

[2015-10-15 16:15] woodlandhunter commented on #115
page.js 1.6.4  incorporates path-to-regexp 1.2.1 which fixes the issue (`/user/*` style routes now work as expected) .

@shuvalov-anton Recommend closing this issue.

[2015-10-16 13:09] #115 closed

[2015-10-16 13:09] #228 closed

[2015-10-16 13:09] #307 closed

[2015-10-17 17:36] paranoid-android opened #326 "Unable to install Page.js via Bower."
Hello,

I am trying to install page.js via Bower. In the process, I am receiving an error. The error is:
[code]
I get that error when I run `bower install page.js --save` from the command line. My bower.json looks like this:
[code]

I do not understand why I am receiving this error. Any help would be appreciated.

[2015-10-18 21:26] pokaxperia opened #327 "Cannot GET /some_url"
Hello, I use page.js with gulp, browserify and watchify. I run a server with localhost: xxxx and when I make any changes in my code, the browser reloads to reflect changes, but the same url gives me a legend "Cannot GET /some page".

Example:
//domain.com/some_url = > it show page normally..
When browser reloads to reflect changes:
//domain.com/some_url = > Cannot GET /some_url

Or even when simpl

[2015-10-19 13:58] woodlandhunter commented on #327
It sounds like you're only handling the route client side. The back-end server must be set up to somehow handle the request sent to /some_url as well.

[2015-10-24 22:12] #290 closed

[2015-11-02 09:34] Limess commented on #216
I'd like to see this fixed, can easily see it tripping me up in the near future.

[2015-11-03 09:01] shuvalov-anton commented on #216
@woodlandhunter can you take a look, please?

[2015-11-04 14:47] woodlandhunter commented on #216
Sure, I'll take a look this week.

[2015-11-10 02:30] quirkles opened #332 "Page sometimes appending an additional slash?"
Hi, so my routing setup looks like this:

[code]

If I use `page('/home')` in my code, no problems

if i just enter http://mysite.com/#!/home then i hit the catchall callback and the value of page.current is `'//home'` with two slashes, if i just hit enter in the address bar again then it hits the `'/home'` callback, as expected.

So what gives? what am I doing wrong

[2015-11-20 08:26] tejasmanohar commented on #326
Remove `iron-elements` and try? This doesn't look like an issue with page.js.

[2015-11-22 21:12] bitflower opened #333 "Internet Explorer 11 .redirect not working"
In IE11 the page.redirect(path) does not trigger a transition.

Possible reference?
https://connect.microsoft.com/IE/Feedback/Details/1528993

[2015-11-23 09:12] santosborom opened #334 "Authentication & redirecy"
Question: are there examples of how to perform authentication and route to another page after login success?

[2015-11-23 18:25] xogeny opened #335 "Reverse routing"
Am I correct that there are no features to reverse routing in `page.js`?  What I mean is that once
I've created a route, I'd like to be able to regenerate a URL for a given route based on the path
I originally provided rather than manually reconstructing the URL, *e.g.,*

[code]

The idea is that the URL template is specified in only one place and this is used both to de-serialize and *serialize*

[2015-11-24 19:14] jliuhtonen commented on #259
It is no use adding `html5-history-api` polyfill, because this breaks IE9 compatibility because IE9 does not provide the initial slash in `.pathname`. Please merge.

[2015-11-28 23:30] jbwebesign commented on #327
@pokaxperia did you have any luck with this? Really want to use this page.js for a personal project but these similar issues are causing me grief, I have a similar local development setup with Gulp/Browserify.

[2015-11-29 09:01] shuvalov-anton commented on #326
yep. Please, try to ask on stackoverflow

[2015-11-29 09:01] #326 closed

[2015-11-29 09:03] tejasmanohar commented on #326
agreed

[2015-11-30 15:06] woodlandhunter commented on #327
It is very likely the *back-end* server was not set up to handle the route in @pokaxperia's case. You need to handle /some_url on the client and server.

Example:

You browse to `/` and the client side js is loaded, page.js routes are set up. You click on a link: `/some_url`. page.js intercepts the click and page.js runs your handler (no http request is made). The url in the address bar is now `/s

[2015-12-01 07:14] jbwebesign commented on #327
Hey thanks very much for the explanation. I did some reading through browsersync docs and found the configuration entries I needed to sort this out in my local environment.

Sent from my iPhone

[2015-12-01 10:32] yairEO opened #336 "why do you write "tiny" router? it's huge!"
That's a TON of code for such a simple thing.
tiny is [this](http://krasimirtsonev.com/blog/article/A-modern-JavaScript-router-in-100-lines-history-api-pushState-hash-url)

That's a **complete** false advertising. comparing to what a simple thing it does, your code isn't tiny, it's medium/large

[2015-12-01 22:13] woodlandhunter commented on #336
Is it huge or medium?

[2015-12-02 09:10] yairEO commented on #336
it's not **tiny** for sure :/

[2015-12-02 13:53] Giggiux opened #337 "Redirect behaves differently when coming from outside website"
When inside the website (i.e. the browser is on a page of the website) a URL of the form `<webisteAddress>/#!<route>` will redirect properly (when typed in the address bar), while a URL of the form `<webisteAddress>/#!/<route>` will not.
When outside the website (i.e. in a new tab) a URL of the form `<webisteAddress>/#!/<route>` will redirect correctly, while the form `<webisteAddress>/#!<route>`

[2015-12-04 01:29] rstacruz commented on #336
It was at some point :)

[2015-12-04 17:40] claydiffrient opened #338 "Named wildcard routes aren't working"
It seems that named wildcard routes as described in the documentation aren't working as expected.

I wrote this test, and it fails consistently.
[code]

The error that it throws is:
[code]

I'm not super familiar with why this is happening.  I'll put in a PR containing the failing test.  If I get some time to investigate and look into it more I can fix it.

[2015-12-06 01:14] aaronshaf commented on #293
+1

[2015-12-09 06:40] harilalinapp opened #340 "Internet explorer pushstae not working with hashtag"
I have been using requirejs for the application with page.js for routing. But hasgtags not working in internet explorer.  I have installe html5 polyfill as mentioned by readme. BUt no use. The popstate is not firing am using ie10. The following is the code i have been using for routing.
page('*', function(ctx) {

})

page();

[2015-12-15 16:27] woodlandhunter commented on #338
It seems this is due to the changes in path-to-regexp. An asterisk by itself is supported (e.g. `/some/*`) as a special case, but not as part of a named group. The docs should likely be fixed to reflect this.

You can use `'/blog/post/:path(.*)'`

See https://github.com/pillarjs/path-to-regexp/issues/37#issuecomment-101310166

[2015-12-19 23:55] farzher commented on #332
+1

Editing the URL in your browser manually breaks in the same way for me too.

[2015-12-20 05:05] tekkamanendless commented on #222
Ditto; this was causing me so much trouble today switching from "more-routing" to "page.js".  I feel like setting up the "page( config )" stuff should happen first, and I never would have tried to set it at the end.

[2015-12-22 18:45] Dashed commented on #332
I'm running into the same issue. Looks like this PR fixes this: https://github.com/visionmedia/page.js/pull/322

[2015-12-22 18:49] farzher commented on #332
I stopped using `hashbang`, it's too buggy. There's an issue about removing it #229
I just use `page.base('/#')` instead (personally I don't even want to bang anyway)

[2015-12-22 18:51] quirkles commented on #332
Interesting, yeah I implemented my own work around where I catch 404's and see if they are equal to '/'  plus an existing route. Very ugly but Necessary until this gets fixed.

[2015-12-22 18:53] Dashed commented on #332
@farzher ah sweet. `page.base('/#')` seems to good workaround. Thanks.

[2015-12-22 18:53] quirkles commented on #332
Gonna try that too.

[2015-12-22 18:59] farzher commented on #332
You could even put `page.base('/#!')` if you really wanted :)

[2015-12-22 23:32] srikkbhat opened #343 "Browser back does not reduce page.len."
Clicking back button on browser does not decrease page.len. This might lead to unintended behavior in page.back.

1. Load initial page `#/` --> page.len = 0
2. Navigate to some page '#/some-page' --> page.len = 1
3. Click browser back button '#/' --> page.len = 1
4. Call page.back(). It checks if page.len > 0. In this case it is true and hence the window will navigate out of the app.

[2015-12-24 19:59] ishuah91 commented on #296
+1

[2015-12-28 09:58] LoveAndHappiness opened #344 "Suggestion: Option to replace '#!' with just '#'?"
I believe there is currently no choice to change the hashbang to just a hash.

I believe that the hashbang makes url links slightly less attractive. Is there a reason you guys chose hashbang instead of hash?

[2015-12-28 11:10] Dashed commented on #344
@LoveAndHappiness just fyi, this is a workaround that works for me: https://github.com/visionmedia/page.js/issues/332#issuecomment-166701658

[2016-01-01 13:45] rstacruz opened #346 "Suggestion: deprecate and suggest alternatives"
[riot-route](https://www.npmjs.com/package/riot-route) has a very similar API to page.js and is more robust—it supports hash changes as well as pushState.

[2016-01-06 21:40] ChrisC commented on #305
I've been able to work around this by calling `next` if the window hasn't reloaded by checking the value of `init` in the context argument. Calling `next` this way seems to force the page change with the latest path available from the context... not ideal, but working for now....

[code]

[2016-01-07 06:08] yanhaijing opened #347 "a bug"
![](http://img.baidu.com/img/iknow/temp/abc.png)

[2016-01-22 16:34] kaycebasques opened #350 "What does page() do?"
From the first example on https://visionmedia.github.io/page.js/...

[code]

[2016-01-28 03:37] markkemper1 opened #352 "Performance when using lots of middleware"
I have been using page.js for a while now and we have registered close to 100 routes or 'pages' .

However, for each route we initially had about 9 middleware functions setup to. Each one doing an independent job and then call next.

However this results in around 900  middleware 'callbacks' that need to be matched against the path. It actually works OK in chrome but Firefox we encounter intermitt

[2016-01-29 10:38] davidhirtz commented on #273
You have saved my life, bro! This needs to be implemented asap!
+1

[2016-01-30 23:04] Grynn commented on #350
AFAIK: page() is equivalent to calling page.start();

[2016-01-31 16:22] A commented on #350
@Grynn thank you. That's true.

[2016-01-31 16:22] #350 closed

[2016-02-04 04:15] JeremyBYU opened #353 "Does not function with Microsoft Edge Browser (Win 10)"
I cant seem to get the router to function with the Edge browser. Works fine on Chrome and Safari. Here is my relevant router code:
[code]
Navigation successfully occurs on fist render. However it does not function aftewards.
The urls are changing (hrefs functioning) in the address bar but the navigation callback function is not called (showPage)

Here is the output of Edge console.  The last objec

[2016-02-04 12:23] mrova commented on #340
Same here, any thoughts/updates?

[2016-02-04 13:19] mrova commented on #340
Looks like only IE10 supporting popstate event:
https://developer.mozilla.org/en-US/docs/Web/Events/popstate

I solved my problem using hashchange:
https://developer.mozilla.org/en-US/docs/Web/Events/hashchange

[2016-02-04 17:41] JeremyBYU commented on #353
Update: I got things working by changing my code to the following.  Works on Edge, Chrome, and Safari.

[code]
Url look like this `/#!home`

Looks like hasbangs in the base function do not work with Edge.

[2016-02-04 17:41] #353 closed

[2016-02-05 01:20] flashbackzoo opened #355 "Updating document.title when calling page.show"
Currently when you call `page.show` a [new context object is created](https://github.com/visionmedia/page.js/blob/master/page.js#L199), which [sets the context's title](https://github.com/visionmedia/page.js/blob/master/page.js#L199) to the current `document.title`

When `page.show` calls the context's `pushState` method, the context's title (which has just been set to `document.tile`) [is passed

[2016-02-05 01:24] flashbackzoo commented on #355
Actually - never mind. Having read my comment I could just set `document.title` in the route callback :smile:

[2016-02-05 01:24] #355 closed

[2016-02-08 18:13] blowery opened #357 "Touch event detection is broken"
Checking document.ontouchstart for truthiness doesn't work. See https://jsfiddle.net/v5wLt7n6/

Though, using this method may / will break any users who are taking advantage of calling `preventDefault` on the `click` event to prevent page.js from navigating. They'll have to update to catch either `touchstart` or `click`, like page.js is attempting to to.

Also, touchstart isn't really a "click" as

[2016-02-08 18:15] blowery commented on #357
Screenshot of the fiddle in the iOS simulator:
![screenshot](https://cldup.com/UymphizwvD.png)

[2016-03-01 20:01] ahedderich opened #359 "Multible callbacks on single route"
Is it somehow possible to register two callbacks for a route or get and set the current callback for it?
My problem is to register a route at the start but dynamically change it's behavior later.

[2016-03-01 21:02] mavroskardia commented on #337
This behavior is still present in the version of page.js included in the Polymer Starter Kit (v.1.2.3).

You can replicate per Giggiux's instructions with the PSK out-of-the-box.

[2016-03-10 21:27] jpodwys opened #360 "Please cut a 1.6.5 release"
The page.js master branch currently contains a fix for shadow dom that I need in my production application. I have forked page.js into my company's private account because I don't like being unpinned with any dependencies. However, I would prefer to use an official page.js release. Thanks!

[2016-03-12 01:40] ChadKillingsworth commented on #360
I'd also like a release. I'm using github as a CDN for npm installs, but would just prefer a new release.

[2016-03-12 06:31] rstacruz commented on #360
hmm... let's see what we can do about that.

[2016-03-12 06:35] rstacruz commented on #360
1.7.0 is out with the recent fixes on master. thanks for reporting!

https://github.com/visionmedia/page.js/blob/master/History.md

[2016-03-12 06:35] #360 closed

[2016-03-12 07:06] jpodwys commented on #360
Thanks very much for the fast work!

[2016-03-16 10:51] PaulMaly opened #362 "Is this router isomorphic?"
Can I use Page.JS on both sides: browser & NodeJS ?

[2016-03-16 15:40] kethinov commented on #362
Not by default, but I wrote a plugin that enables you to remap the page.js API to the Express API: https://github.com/kethinov/page.js-express-mapper.js

[2016-03-16 17:51] uwolfer commented on #360
The fix for shadow DOM seems not to be included in this release. It got reverted just in the release commit: https://github.com/visionmedia/page.js/commit/00899e6c0c0b7e45b1f1962709c58b91ceec9812#diff-50e3e6872ec225cd4caa566f1f15e89cL552

Can you please release a follow-up fix release?

[2016-03-17 04:38] rstacruz commented on #362
Hi @PaulMaly, consider using http://riotjs.com/api/route/ instead which has support for isomorphic usage.

[2016-03-17 04:44] rstacruz commented on #346
bump. @A?

[2016-03-17 16:19] jdrydn opened #364 "Executing next(err) doesn't allow us to render an error page"
When executing middlewares, if an error was encountered how come we can't use `next(err)` in node-fashion?

[code]

I'm surprised this isn't adopted, it could lead to excellent error-page handling in Page.JS. Something like:

[code]

[2016-03-26 12:35] michaelphipps commented on #277
I know this is old, but something like this works:

[code]

[2016-03-29 12:39] bigomega commented on #212
But the project is not es6 typescript compatible.
https://github.com/Microsoft/TypeScript/issues/3337

[2016-03-29 13:01] bigomega opened #365 "Doesn't work with Typescript ES6 import"
[code]

We should start sending default exports https://github.com/Microsoft/TypeScript/issues/3337

[2016-03-31 02:26] iamwelk opened #366 "when hash doesn't change, the callback function shouldn't be called"
here is my page options

[code]

when I click the link which is same with current URL, the function bind to the URL will be called even if the URL has not changed. I think it's should be configured.
Wish your reply. Thank you~

[2016-04-04 09:32] kraftwer1 opened #367 "Why this double slash?"
When I change the URL in my browser, let's say from `/#!/link1` to `/#!/link2` and then hit enter, the `route.params[0]` is suddenly `//link2` instead of `/link2` and thus the listener `page("/link2", fn);` doesn't work anymore.

What am I doing wrong? Or is this a bug in **page.js**? Here's a fiddle:

[code]

**EDIT:**
Note that it works when I use a regex that supports possible double slashes, e

[2016-04-04 09:39] kraftwer1 commented on #367
Note that it works when I use a regex that supports possible double slashes:

            page(/^\/\/?link1$/, function(route) {
                // Now always getting here!
                console.log("/link1");
            });

[2016-04-05 07:36] timaschew commented on #318
What for me worked is this:

[code]

[2016-04-13 18:49] rr- opened #368 "Document page.replace"
Page.js exposes `page.replace` function, which is a very helpful utility. Unfortunately, right now it's left undocumented - in my opinion it deserves more attention.

[2016-04-13 19:00] rr- opened #369 "Unused parameter in page.replace"
Right now when an user wants to tell `page.replace` not to route the URL change, they need to pass `dispatch: false` parameter. However, this requires the user to also pass preceding `init` boolean parameter, which... apparently does nothing.

[2016-04-15 05:41] afanasy commented on #296
@nsisodiya @ishuah I was able to add new routes after replacing
[code]
with this
[code]
in my code

[2016-04-19 08:13] iliketomatoes commented on #340
I have the same scenario as @harilalinapp and the history back button is not working on any browser if I just change hashtags.

[2016-04-20 01:31] pgraham commented on #368
I agree. I've implemented a simple refresh function to re-run the current route without adding history using `page.replace`.

The function is simple enough only requiring a single parameter and does not require any prerequisite state to be set so it should be safe enough to publicize this function.

[2016-04-22 18:48] timaschew opened #371 "page.js with webpack HMR (hot module replacement)"
Just wanted to share my solution which looks simple but took so much time to figure out why it was not working. So the tricky part for me was `page.callbacks = []`

Put your page.js setup into a file like **app.js** and export the page instance.
In your webpack entry point you need this:

[code]

[2016-04-22 19:11] timaschew commented on #371
Oh, maybe I missed some other things to reset.
I think it would be nice if the page.js would provide some kind of a `.reset()` function so that the user don't need to know all the internal stuff which need to be reset.

[2016-05-09 23:11] tractorcow commented on #137
A problem to consider is that not all routes may be bound up front; Components (such as short-lived edit forms for a backend model) may be loaded in via ajax, which may have specific routes attached to them. It may not always be possible to pre-determine all routes in such cases, so the problem still exists here.

Possible solutions I've toyed with:

- Hack page.js. e.g. implement some kind of pag

[2016-05-09 23:39] tractorcow commented on #137
Right, so one solution is here; https://github.com/visionmedia/page.js/issues/371

[2016-05-09 23:41] tractorcow commented on #371
I'm a developer writing applications which must conform to semantic versioning. Can someone please confirm whether the above code is going to continue working in non-major releases of page.js, or should I consider `page.callbacks` as non-public API that is subject to change without notice? :D

[2016-05-09 23:50] tractorcow commented on #371
Also, did you notice what the other effects were? I can have a look on your behalf, @timaschew , since I'll need to solve these problems as well. :D

[2016-05-10 20:40] Michael77 opened #372 "Use without dependency manager"
Is there any way to use this library without a dependency manager?

[2016-05-13 03:37] tsongas commented on #334
Did you ever find anything?

[2016-05-18 20:24] Jermaya opened #373 "[Question] Refreshing Page"
I have been playing around with page.js for a couple days. So far things are working out except for one small issue. If I load any webpage using page.js, whether it is one of the examples on github, or something I've made myself, if I refresh the page, I always get a page not found error. The same happens if I copy the url of a page, and paste it into a new tab. Is this supported?

Link to stack o

[2016-05-19 15:41] github-polymer-user opened #374 "hashbang error auto / miss"
hasbang added inproperly after rightmost '/', if not, didn't create one:

Why should I manually attach '/' to routes? I just want see hasbang after rightmost '/', if not, then create one:

'/test/#!/test',

not

'/test#!/test'

------------- dirty fix in the begining of EACH route -------------
    if (window.location.href.slice(-1) !== '/') {
      window.location.href = window.location.href + '/

[2016-05-19 16:55] #374 closed

[2016-05-19 16:57] github-polymer-user commented on #374
It is perfectly OK to have URLs without tailing '/', cool, but not requred

[2016-05-23 03:29] dantman commented on #344
@LoveAndHappiness `#foo` already has the native browser implications of jumping to whatever element has `id="foo"`; `#!` is an often used pattern for when the fragment is instead used for state that JS acts on instead of an id for the browser to jump to.

[2016-05-25 18:52] barry-johnson commented on #346
Not sure how "very similar" the API is (and I like Riot just fine). Riot's Route has no named parameters, just (*), no multiple handlers or middleware, no concept of "next()" within handlers (which is pointless, since no multiple handlers), all of which make it completely inconsistent with Express' interface, which is the point of this library.

On the other hand, if the 1% of global users on IE<1

[2016-05-26 17:22] j0hj0h opened #375 "ctx.pathname contains hash"
When linking to an URL with hash like `/something/#else` then `ctx.pathname` contains the hash portion. See the fiddle: https://jsfiddle.net/su2qfjnv/1/

So ctx has no property holding the blank pathname, as `ctx.path` has the querystring appended. Think this is a bug, or am I missing something?

[2016-05-29 17:59] onury opened #377 "Incorrect pathname and querystring"
When you click on a bookmark of a page with a query-string, `context` has incorrect `pathname` and `querystring`.

### Example:
Page URL is `http://domain.com/products/?id=10` which includes the following link:
[code]
When clicked, URL is:
#### `http://domain.com/products/?id=10#bookmark`

At this point,
### `window.location` returns:
[code]
but
### page.js `context` returns:
[code]

Page.js versi

[2016-06-08 21:46] Ewillms2 opened #378 "Reloading"
When I try to reload a page or go back I get the error Cannot GET /create-ivr, is there a fix to this issue? I know it has to do with server/client side routing but idk how to fix it. Thank you.

[2016-06-14 10:16] gawin commented on #359
+1 Having the same issue, would love to have the ability to register multiple callbacks.

My use case is that I'm using a third party router based on Page.js. That router uses the `page('*', routerCallback)`, now if I register my callback the original router stops working.

[2016-06-15 15:04] rerdos commented on #298
I can confirm, that `page.current` is the new (next) route.

[2016-06-22 20:49] ramendezb opened #379 "Handle Locale-based URLs"
Hey guys, I was wondering if you have setup this library for switching from one locale to the other. Ideally I want to create a site in which any defined URL can work adding the locale string right after the domain, for example: domain.co/en/rest/of/url

[2016-06-24 05:38] #372 closed

[2016-06-29 01:44] j0hj0h opened #380 "Typo in Code-Example for exit()"
In the signiture of the second callback, the ctx is missing:
https://visionmedia.github.io/page.js/#pageexitpath-callback-callback-

[2016-06-29 13:24] tomhuynen opened #383 "page reload after clicking anchor"
Hi,

It seems that the page refreshes after adding an anchor hash to the end of the url.
IE: mysite.com/#test

Possible cause:

In page.js line 335 the current and canonical path are compared like this:

`current === ctx.canonicalPath`

The current is composed like this:

`current = location.pathname + location.search;`

It works again when I add the `location.hash`:

`current = location.pathname

[2016-07-08 22:11] #305 closed

[2016-07-21 14:06] #251 closed

[2016-08-17 08:14] agauniyal opened #384 "Not being maintained?"
There are tons of pull requests being piled up and a lot of issues are unanswered here. Is this code abandoned or still being developed?

[2016-08-17 08:47] basiclaser opened #385 "root wildcard looping"
Hi there, I'm building a service which has dynamic root routes
eg. /a, /b, /c
As the routes are not predefined, I can only be as specific as this:
[code]
However this triggers a cyclical hit on the wildcard root route as the new routes (`/a`) satisfy the `/*`wildcard. Sorry if I missed it in the documentation, but is there a way of preventing the endless redirect?
Thanks,

[2016-08-18 21:24] cabhishek commented on #157
@hems Did you figure out the issue with page.back() + chrome ?

[2016-08-23 03:15] #385 closed

[2016-09-01 10:41] coderofsalvation opened #387 "google seo anyone?"
Anyone can confirm that google (indexing) succesfully triggers page.js-powered anchortags?
In other words: does google index/render page.js-applications correctly?

[2016-09-10 19:02] klesniewski commented on #367
It seems that this library is no longer maintained (#384). I did not want to use regex, as it makes the path less readable, so instead, when I am hitting fallback route, I am checking if there are double slashes (which should not occur in any valid link I have) and reroute to path with a single slash. If that one will not be found (in case the URL is truly invalid/not found), the fallback will be

[2016-09-12 18:44] developerings commented on #367
@klesniewski Thanks for sharing your solution! One issue I found with that is it leaves the double slash route in the history, so if you then hit the back button it runs through the star route again and gets rerouted back to where you just were. I updated to use redirect instead of show and that took care of the issue for me. So, line 4 from your solution is updated to:

[code]

Thanks again for s

[2016-09-14 04:45] fega commented on #384
this is so sad, page.js has a great potential.

[2016-09-27 14:28] Grynn commented on #387
tl;dr Nope; Google will not crawl page.js sites well.

If you are writing a web-site as opposed to a web-app, it is better to do server side rendering and send only rendered content. You'd be better of with a classic CMS (Wordpress) instead. But if you're making an app (esp. one where login is required) page.js is awesome.

[2016-09-27 15:43] pbuzdin commented on #387
https://plus.google.com/u/0/+JohnMueller/posts/LT4fU7kFB8W

[2016-09-30 06:54] coderofsalvation commented on #387
update: It seems google tries to do everything to index javascript-ish website. SPA's using page.js seems a good approach.

[2016-09-30 06:54] #387 closed

[2016-10-06 17:46] ebitauld opened #390 "Page.redirect with specific characters"
When I do a redirect with this kind of url:
"/myapiurl/mysearch/stuff%"
I get "page.js:367 Uncaught URIError: URI malformed"

I tried to encode the url without success.

Is there a way to escape specific characters ?

[2016-10-11 02:22] MrCsabaToth opened #391 "Navigation is not working with an a link in an svg figure's g"
Example

[code]

Answer is followed, if it is a link in a regular button. But in this case I get an `entry not found` plain text response (and see a 404 in the network tab).
I'm going with the hashbang configuration because I want users to be able to go directly into a sub URL:

[code]

[2016-10-11 04:43] MrCsabaToth commented on #391
Workaround; I was able to attach a click handler to the element and navigate:

    $('#answer_button').click(function(e) {
      page('/answers');
      e.preventDefault();
    });

[2016-10-11 04:45] MrCsabaToth commented on #384
I like that it's relatively minimalistic: solves a lot of tasks in the routing realm but don't force you into other stuff

[2016-10-13 07:24] A commented on #384
Guys, if you want to maintain pagejs you can ask TJ to share the access with you.

[2016-10-13 15:41] MrCsabaToth commented on #384
Unfortunately I'm way too busy to pick this up :(

[2016-10-13 15:46] agauniyal commented on #384
I don't think I'm qualified enough to maintain this project at the moment but I'm willing to help with any other tasks. About finding a good maintainer, I would suggest putting up a notice on top of README.md and posting the project to /r/programming, news.ycombinator.com and/or similar sites. This is such a great project that should definitely live on 👍

[2016-10-16 01:41] fega commented on #384
Yeah, im not qualified too.
I like @agauniyal solution

[2016-10-16 16:23] paulocoghi commented on #391
My question is: how can make page.js prevent default clicks automatically in all "a" links, including the ones inside SVG's, without the need to manually attach click handlers to each of them.

[2016-10-16 21:54] paulocoghi commented on #391
I identified the issue, and it was inside page.js

I fixed it and I will make a pull request.

[2016-10-16 23:56] MrCsabaToth commented on #391
@paulocoghi comment it here when you have the PR. I didn't have time to debug it but I bet it's something to do with the fact that it's an `xlink:href`instead of a `href`

[2016-10-17 00:05] paulocoghi commented on #391
@MrCsabaToth Done. https://github.com/visionmedia/page.js/pull/393

If you want, just download from [altiva/page.js](https://github.com/Altiva/page.js) since the project seems to be not maintained.

Also, the problem was more complex than just `xlink:href`. In svg links:

 - the el.nodename property is not `A` but `a`
 - the `href` and `target` are not a string, but an object with the respective v

[2016-10-17 00:24] paulocoghi commented on #391
The point is that with this fix, you don't need to attach a click handler to elements anymore.

[2016-10-17 10:43] paulocoghi commented on #391
https://github.com/visionmedia/page.js/pull/394 Updated pull request with a more refined fix.

[2016-10-27 07:39] luozhihua opened #395 "Is '/' relative to 'options.base' or 'document.location.href'?"
[code]

when i click the link#homepage, browser location.href is changed to `/homepage`, my question is I set `page.base` to `/ui`, why link is not relative to `page.base`;

[2016-11-02 08:03] Shyam-Chen opened #396 "How to get Google Analytics to work?"
[code]

[2016-11-06 12:11] Shyam-Chen commented on #378
`history-api-fallback`

[2016-11-12 06:59] Shyam-Chen opened #397 "How to initiate material design lite?"
[code]

[2016-11-13 06:28] #397 closed

[2016-11-13 06:29] #396 closed

[2016-11-18 20:23] rodrigorodriguescosta opened #399 "How redirect page without change the URL?"
How can I redirect to HTML file ?

is there any special method do return a HTML file like ```Express```?

[code]

[2016-11-25 17:06] paulocoghi commented on #399
The purpose of page.js is to deal only with routes.

To decide which HTML file to load and render it, you will need an additional tool, mainly a front-end framework, like [Ractive](http://www.ractivejs.org/), [Vue](https://vuejs.org/), [React](https://facebook.github.io/react/), [Angular](https://angular.io/), etc.

[2016-11-25 17:09] paulocoghi commented on #395
`page.base( 'ui' )` inform that all your app's routes will be inside `yourdomain.com/ui/...`

It doesn't insert `ui` automatically in your links.

All you have to do is to add `ui` in links by yourself:

[code]

[2016-11-25 17:12] rodrigorodriguescosta commented on #399
OK, thank you

[2016-11-25 17:17] paulocoghi commented on #399
I develop a framework ( https://github.com/Altiva/altiva ) to deal with this more easily, but it's in alpha version and doesn't have a documentation yet.

It's very simple to determine which HTML files need to be loaded for each route, and it's based on Ractive.

If you like it, you can learn Ractive as well to use more advanced features in each HTML component.

[2016-11-25 17:18] paulocoghi commented on #399
If you want you can also post issues in Portuguese and/or Brazilian Portuguese on Altiva issues.

[2016-11-27 08:20] Shyam-Chen commented on #362
https://github.com/kriasoft/universal-router

[2016-12-04 14:25] PaulMaly commented on #362
@Shyam-Chen I check this router and it seems, that it capture nothing. It's just impose the route you already know to predefined routes table. It's not working with HTML5 History API and even server http requests.

[2016-12-08 21:04] jrajav commented on #273
This needs to be fixed! In addition, it seems that both the click handler and popstate handlers are firing for hash-only (`href="#hash"`) routes in IE11, causing buggy behavior where the path seems to be reset.

[2016-12-09 19:41] paulocoghi commented on #384
Everyone here in this thread is much more qualified than me.

So, here is a suggestion: a new **team of contributors**, not only one.

@tj , do you mind to allow everyone in this thread to form a "council" and help to maintain the project, giving the proper repo permissions?

[2016-12-21 07:11] Shyam-Chen commented on #373
`history-api-fallback`

[2016-12-30 03:06] Shyam-Chen commented on #384
I want to rewrite it for ES modules support.

[code]

[2016-12-30 08:30] Shyam-Chen commented on #384
I will rewrite it for ES modules support. [TODO](https://github.com/Shyam-Chen/Web-Starter-Kit/blob/master/src/scripts/luyou/index.js)

[2016-12-30 17:13] tj commented on #384
Yeah I'm cool with adding anyone who wants to maintain

[2016-12-31 08:32] rstacruz commented on #384
page.js has a few maintainers on board, but I think most of us have moved on from using page.js to other alternatives. sorry :(

[2016-12-31 12:01] paulocoghi commented on #384
Or maybe [Rich-Harris/roadtrip](https://github.com/Rich-Harris/roadtrip)

[2017-01-10 07:16] Fay-Hu opened #402 "Add a foreign link"
What should i do if i want to add a foreign link to the tag of 'a'?

[2017-01-10 11:25] #402 closed

[2017-01-23 23:51] Boscop commented on #292
I'm running into the same issue.
When I'm browsing posts in my app, the URLs look like this:
http://localhost:3000/#!/post/id
But I get 404 when I enter
http://localhost:3000/#!/post/id
manually.
How can this be fixed?

[2017-01-28 08:54] lapinskicho commented on #362
@PaulMaly universal-router works as it advertises.  It uses path-to-regexp as the route matching engine, so for instance if you use Express at your back-end, you can share your route table for both the front-end and back-end, which is a big plus over many other routing solutions.  A router should not know anything about browser history, due to separation of concerns, but universal-router certainly

[2017-02-10 03:44] Nomia opened #404 "option click true doesn't work"
Hi, I love this router coz it looks simple.

But I've got one problem when use page.js in my project yesterday.
1.the option `{click:true}` does'nt work, I know the `click` value is true by default, but it doesn't seem to work in my case, so I set it to true, still doesn't work => When I click the `a` tag, the page will refresh. below is the code:

index.html
[code]

index.js
[code]

the build.js

[2017-02-17 02:51] Nomia commented on #157
@hems Same problem here, did u figure that out?

[2017-02-17 03:01] Nomia opened #405 "page.js not working with history back or forward"
Hi, I've used page.js in my project for about a week. Sometimes, page.js will not work with `history.back()`. The issue is that, when I hit the back button(or manually call history.back) on chrome, the url will change, but the callback doesn't get called. (the URL changes but the route isn't triggered again).

And the history.forward or the forward button on my chrome or any other browser will not

[2017-02-17 03:14] Nomia commented on #405
@paulocoghi could u help me out?

[2017-02-17 04:48] Boscop commented on #276
I'm also running into this.
I would really appreciate if this could be fixed..

[2017-02-17 11:03] paulocoghi commented on #405
Are registering page's popstate / click bindings with:

[code]

[2017-02-17 11:09] Nomia commented on #405
yes

[2017-02-17 11:10] Nomia commented on #405
@paulocoghi  here is my code:
[code]

[2017-02-17 11:24] paulocoghi commented on #405
I've seen other users with problems with hashbang mode, with which I am not familiar.

I always used page.js without hashbang mode.

[2017-02-17 14:51] Nomia commented on #405
Oh, bad news. I have to use hashbang mode, coz it will be hosted natively(file:///).

thanks anyway.

[2017-02-17 14:58] #364 closed

[2017-02-17 19:26] hems commented on #157
@Nomia yeah, stopped using page.js!

Used https://github.com/arboleya/ways instead

[2017-02-17 23:17] paulocoghi commented on #405
Now I understand better your scenario and I have good news. You are not obligated to use hashbang, even when using file:///

All you have to do in this case is:

[code]

[2017-02-17 23:22] paulocoghi commented on #405
Do not use `click: false` or hashbang.

[2017-02-17 23:26] paulocoghi commented on #364
@jdrydn Unfortunately page.js is [not being maintained](https://github.com/visionmedia/page.js/issues/384) anymore.

[2017-02-18 08:59] Nomia commented on #157
thx, I'll give it a try @hems

[2017-02-18 09:00] Nomia commented on #405
Thx for ur advice @paulocoghi , I'll give it a shot and feedback here.

[2017-02-20 13:14] paulocoghi commented on #405
Any news?

[2017-02-21 10:28] luozhihua commented on #38
is it possible to remove(unbind) an exit Emitter when it has triggered.

[2017-02-21 17:11] MoonDawg92 commented on #216
Also encountering this as well. I guess it hasn't been fixed over a year later. Looks like I'll have to parse through context.path as well for the time being.

[2017-02-22 16:13] woodlandhunter commented on #216
I forgot about this, I'll confess. Maybe @hheiskanen can comment on the various changes to url decoding as there wasn't much discussion about why except on #187 which is about adding the option to disable all decoding.

#173
#189
#194

[2017-02-22 20:02] MoonDawg92 commented on #216
It was an easy enough work around using context.path (which didn't automatically decode it). Here's the simple parsing code I wrote in case it helps anyone else for the time being! It just extracts out the query string portion of the URL (if it exists).

            var qs = context.path;
            var index;

            for (x = 0; x < qs.length - 1; x++) {
                if (qs[x] === '?' &&

[2017-02-23 02:44] bvalyou commented on #379
Bit late for your question, but maybe you should just have each path prefixed with `:locale`. In your example, `/:locale/rest/of/url` would map to your example.

[2017-02-23 12:56] paulocoghi commented on #379
Excellent suggestion.

[2017-02-24 20:18] hheiskanen commented on #216
@MoonDawg92, did you try setting `decodeURLComponents` to false in the config object that can be passed to `page.start`? By default it is true (as documented in the readme) and will cause page.js to decode the query string, pathname and hash in the `Context` object.

This config option was added as a convenience for working with those URL segments, without the user having to manually decode them e

[2017-02-24 20:35] MoonDawg92 commented on #216
@hheiskanen  You know, I guess I must have just completely glossed over that.

Just turned the decodeURLComponents flag to false in our start up script, and it worked like a charm. Thanks for the help!

[2017-02-27 17:52] cristiancs opened #407 "Page.js triggered on call to diferent domain"
If i have a website example.com and have a link to example.com.co the page.js trigger is executed.

[2017-02-27 18:01] paulocoghi commented on #407
Can you post the code you are using?

The correct behavior is not to interfere with links to different domains.

[2017-02-27 18:04] cristiancs commented on #407
[code]

	}
Actually i only do this code to fix another bug (when clicking go back on the browser it doesn't work).

The code works well when you link to example.ru by example, but if it is .com.ru its trigger page.js.

[2017-04-03 21:36] PaulMaly opened #411 "Could you please update NPM version"

[2017-04-03 22:41] paulocoghi commented on #411
I'm not qualified to maintain page.js but, if @tj doesn't mind sharing the repository's access with me, I can help with pull-requests and not-so-complex issues.

[2017-04-03 22:43] paulocoghi commented on #411
More details in https://github.com/visionmedia/page.js/issues/384 (_"Not being maintained"_)

[2017-04-05 18:03] ankit90anand commented on #405
You can mentiom popstate:true in configuration of page.

[2017-04-06 03:41] Nomia commented on #405
Sorry for the late feedback. I've handled the history back and forward problem manually in my project before @paulocoghi 's suggestion. Lots of work was in a rush. I'll test the suggested solution once I've got time. Feel free to close this issue.

[2017-04-17 18:47] longS2baobao opened #412 "Issue: appending multiple query param to url"
page.js line 167.
var url = (hashbang && ~location.hash.indexOf('#!')) ? **location.hash.substr(2) + location.search** : location.pathname + location.search + location.hash;

I'm having problem with the above highlighted part. It keeps pending query string to the end of my url. I'm not sure if this is a bug.

**Input:**
https://localhost:8551/?s=1

**Processing code:**
  const defaultRoute = 'MYPA

[2017-04-28 15:10] wojinwomacka commented on #296
For everyone in the future,
since page.js ceased to be developed i managed to extend this library by adding 2 new functions.

These functions let you add dynamically new routes. and also .exit routes.

[code]

and for exit:

[code]

These functions works well inside page.js file or outside. It doesn't really matter where you define them.

Then you can simply in your program run

`page.addRoute("/a

[2017-05-15 14:43] iiison opened #414 "shows 404 error on browser refresh"
Hi, my browser shows 404 error if URL is not `/`. I know server should redirect all get requests with `/`. I was wondering if this could be handled at Front-End level. Like react-router does.

[2017-05-17 03:48] Shyam-Chen commented on #414
Try `connect-history-api-fallback` or `express-history-api-fallback`.

[2017-05-17 03:52] Shyam-Chen commented on #411
@paulocoghi I would like to create a new repository for it and provide ES modules.

[2017-05-17 20:07] paulocoghi commented on #414
The solution posted by @Shyam-Chen only works when you are using a tool like Browser Sync.

If using **Apache**, create a `.htaccess` file in the root of your project directory with this:

[code]

If using **Nginx**, add this to the .conf file related to your project (inside the "server" part):

[code]

[2017-06-01 02:05] nschurmann opened #416 "Webpack and pagejs does not execute at start"
I have this code:

[code]

When i load my index.html file it won't print in the console, but only after i start navigating.
What is happening?

[2017-06-07 13:10] roboriaan commented on #368
I know it's a year on. This works for me :
`page.replace(url, ctx.state, null, false);`

[2017-06-15 18:47] aldebaran798 commented on #416
You need call page() after routes declarations

[2017-06-16 00:46] aldebaran798 commented on #384
I found https://github.com/camelaissani/frontexpress but seems that is not intended for SPA, i like because is express like

[2017-07-08 00:57] jamrizzi commented on #234
Wow, I completely disagree with this. At the very least, you should have the option to not use it that way. With this current setup, if someone decides to change the base, you have to go through your entire codebase to change it. That's nasty and super not cool.

[2017-07-08 01:46] aldebaran798 opened #417 "Multiple pushstate in same url"
Is it possible to prevent pushstate from a URL in a link if the URL is the same as the current one?
For example, if I have a link that sends to a contact page, each time I press the link, the URL is always entered in the history, and when I want to go back, I have to press the button the same number of times I pressed the link

[2017-07-08 02:34] jamrizzi commented on #234
Just did a pull request to fix this. https://github.com/visionmedia/page.js/pull/418

[2017-07-13 10:00] eth0lo commented on #404
I think your problem there is because your are setting your base as ``/mobile`` that means that all routes that page handles must start with ``/mobile``, that said you need either to update your link to point to ``/mobile/docs`` or get rid of the base config altogehter

[2017-07-13 10:14] eth0lo commented on #417
That's how should work, however sometimes is not the wanted behaviour.

What you can do however is add a handler on that particular link to verify if you are in the same path, but in order to avoid page to kick in the router process you will need to add target="_self" to the href, and when you are not do page.show(e.target.href)

[2017-07-16 13:18] Nomia commented on #404
Thanks for you reply @eth0lo ，I'll give it a try, for now, I've implemented the `click` in my own way.

[2017-07-28 21:54] iandunn commented on #417
If I understand that workaround correctly, it seems like the complexity it'd add to the code would outweigh the benefit, at least in my project.

@tj, would you be interested in a PR that would add a config flag or some other simple way for users to determine how page.js behaves in this situation? Or do you prefer to just leave it the way it is?

[2017-07-28 21:56] iandunn commented on #366
It seems like this is a duplicate of #417

(This is older, but #417 has more discussion, including a workaround)

[2017-08-03 00:45] NukaPunk commented on #230
This issue has been open for over two years. Any updates or work arounds?

[2017-08-10 01:22] dman777 opened #420 "How to use pushState to set url with page.js api?"
How can I use page.js api's to set the pushState so that I can set the url query params without reloading the page?

The below works on initial page load with `/search-listings` but after that, I can not get the url to change with pushState:

[code]

[2017-08-17 18:04] mogita commented on #371
I'm using @timaschew 's method and it just works.
As for @tractorcow 's question, I can't confirm because I'm using the npm release. As far as I `console.log`, the page.js instance still includes the `callbacks` property.

[2017-08-30 18:47] senica opened #422 "Replacing + (plus) breaks parameters"
In the query.js file https://github.com/visionmedia/page.js/blob/master/examples/query-string/query.js

On line 110 (currently) you are replacing the '+' sign

[code]

But this breaks values with a plus sign in it.

For example:

[code]

If I have a route like `page('/user?email=senica%2B3%40gmail.com')` which is `encodeURIComponent(senica+3@gmail.com)`, then the first line above will show the que

[2017-08-30 18:53] senica commented on #422
Ah, I realized it was actually wanting a non-decoded url. Sorry.

[2017-08-30 18:53] #422 closed

[2017-09-10 13:24] Shyam-Chen opened #423 "Bindings to connect the Router to Redux"

[2017-09-11 01:59] rstacruz commented on #423
this seems like something you can easily do on your own.

[code]

[2017-09-11 01:59] #423 closed

[2017-09-18 20:57] kshep92 commented on #384
Reading this thread and a tear comes to my eye. It would be a crying shame if this project were to die; it's so darn useful its agnosticism is so attractive! @rstacruz what alternatives have you move on to, if I my ask for a recommendation?

[2017-09-19 09:22] rstacruz commented on #384
As previously mentioned in the thread, these work great:

- https://www.npmjs.com/package/riot-route (very similar to page.js in API)
- https://www.npmjs.com/package/roadtrip (has support for transitions & enter/leave handlers)

[2017-09-19 15:43] kshep92 commented on #384
Thanks much!

[2017-09-21 03:21] vickenliu opened #424 "QUESTION: anyone can explain this"
Hi ,
from the project's examples, if i hit this url `http://localhost:4000/server/contact`, the backend returns the related html, and when the browser renders the html, is page.js also do the front-end routing like here it knows to show the contact view, not the default index.
thanks for explaination.

[2017-09-24 20:50] Hillel-Nagid opened #425 "How to use page.js?"
this code not working:
`page('/create-account_1', function(){
  $( "#video" ).load("../videos.html #create-account_1");
})
page('*', function(){
  document.body.innerHTML= "Hi"
})
`
![image](https://user-images.githubusercontent.com/24993843/30786704-02644456-a183-11e7-84f5-71489d5681cc.png)
![image](https://user-images.githubusercontent.com/24993843/30786708-0f4c7e54-a183-11e7-8116-c8f3003c9a27.p

[2017-09-26 16:56] rogeriotaques commented on #384
@tj are u still maintaining this project?

[2017-09-26 17:19] tj commented on #384
nope

[2017-10-02 08:01] UtsavPreet commented on #425
Did you set the base url to 'freelancer-ninja' ?
And you called the page function right ?

[2017-10-14 18:31] skwny opened #426 "Documentation revision - named wildcard"
The docs state this is how to use named wildcard access:
`page('/file/:file(*)', loadUser)`

That generates an error for me so instead I tried this and it worked:
`page('/file/:file*', loadUser)`

[2017-11-13 17:58] onigetoc opened #427 "Hard to learn, There's no example working"
Hard to learn how to use page.js, There's no example working.

Please do some update or i will have to move to another up to date navagation script.

[2017-11-14 00:11] paulocoghi commented on #427
Page.js is not being maintained anymore, as detailed here https://github.com/visionmedia/page.js/issues/384

There are other (maintained) router options, like:

https://github.com/riot/route
https://github.com/Rich-Harris/roadtrip

[2017-11-14 15:42] onigetoc commented on #427
Hi, i'm sorry about that (**not being maintained anymore**) , it's was well done at first.
I will try your suggestion Thank you.
If you or someone have other routing scripts on Github i would be interested to check them all since i didn't find good one until now.

[2017-11-14 19:33] paulocoghi commented on #427
Both of the options I passed to you work in the browser. :)

[2017-11-14 19:35] onigetoc commented on #427
I do not like the fact that's is 100% javascript without html templating. it's look like react.js
to hard for my brain to divide just javascript app.

[2017-11-14 19:57] paulocoghi commented on #427
Page.js is not a front-end framework and, thus, you will not find html templating in it. Its mission is to exclusively handle the routing part.

[2017-11-14 20:02] onigetoc commented on #427
I just find a interesting one with Riot Handlebars
https://codepen.io/crisward/pen/xwGJpM?editors=101

[2017-11-14 20:12] paulocoghi commented on #427
Glad you found a solution the way you wanted it :)

[2017-11-14 20:55] onigetoc commented on #427
It get the same problem as page.js have, function do not work.
{route:"/page4/:name",use:"myfunction"},

[2017-11-15 18:25] senica commented on #427
This should not be in the page.js issues list as it is for another library. If you have an issue with another library post, in their github issues list.

In your example, you have your function specified in double quotes. The router will just try and call the string, which doesn't do anything. If you indeed have a function called `myfunction`, remove the quotes. As in the example you referenced to

[2017-11-15 18:28] onigetoc commented on #427
Hi saw the double quotes mistake but if you try to call a function and modify it, it not working anyway.

[2017-12-15 12:08] tomeraz commented on #427
If the project is not maintained anymore, suggest you update the README.md on top.
Think it's valuable info.

[2017-12-15 14:04] paulocoghi commented on #427
@tomeraz , unfortunately, all the active members of the community doesn't have necessary permissions to update the README.

In other words, all members with write permission are no longer active with Page.js.

[2018-01-08 08:04] WesleyDRobinson commented on #405
perhaps an issue with bfcache: https://developer.mozilla.org/en-US/Firefox/Releases/1.5/Using_Firefox_1.5_caching

Adding a [`pageshow` event](https://developer.mozilla.org/en-US/docs/Web/Events/pageshow) handler resolves:
[code]

[2018-01-12 19:40] matthewp commented on #384
@tj I'm willing to maintain this.

[2018-01-13 01:14] matthewp commented on #427
Sounds like there isn't an issue here anymore. Closing.

[2018-01-13 01:14] #427 closed

[2018-01-13 02:07] matthewp commented on #366
Thanks @iandunn! Let's discuss in #477

[2018-01-13 02:07] #366 closed

[2018-01-13 02:09] matthewp commented on #414
Sounds like this is a backend issue, closing.

[2018-01-13 02:09] #414 closed

[2018-01-13 02:11] matthewp commented on #404
Looks like this was solved!

[2018-01-13 02:11] #404 closed

[2018-01-13 02:22] matthewp commented on #399
Thanks for answering!

[2018-01-13 02:22] #399 closed

[2018-01-13 02:23] matthewp commented on #395
Thanks for answering!

[2018-01-13 02:23] #395 closed

[2018-01-13 02:39] matthewp commented on #362
Yep, as answered, page.js is only for the frontend.

[2018-01-13 02:39] #362 closed

[2018-01-13 02:40] matthewp commented on #346
Not planning on depreciating page.js 😎

[2018-01-13 02:40] #346 closed

[2018-01-13 02:42] matthewp commented on #344
Yeah, use of `#!` is standard for client side routers. With @dantman point we'll stick with how it is.

[2018-01-13 02:42] #344 closed

[2018-01-13 02:42] #336 closed

[2018-01-13 11:26] matthewp commented on #298
Maybe we should document this?

[2018-01-13 11:42] matthewp commented on #384
Hello everyone, I've become the new maintainer of page.js! Want to let everyone know that page.js is going to continue to be simple and will largely remain the same as it is today, just with bugs fixed and pull requests merged. That said, I do have some ideas to make simple but powerful changes in the future.

The direction I'll be taken is to:

1. Triage issues and pull requests. Get as many clos

[2018-01-13 11:43] matthewp commented on #384
Going to close as this isn't an issue any more ;)

@tj or @rstacruz, can you give me npm permissions? `npm owner add matthewp page`. Thanks!

[2018-01-13 11:43] #384 closed

[2018-01-13 11:51] matthewp commented on #425
Yup, what @UtsavPreet said. Can you respond @Hillel-Nagid?

[2018-01-13 11:53] matthewp commented on #416
What @aldebaran798 said, thanks!

[2018-01-13 11:53] #416 closed

[2018-01-13 11:54] matthewp commented on #411
page.js is being maintained now. I will update the npm package as soon as I get permissions there.

[2018-01-13 11:55] matthewp commented on #407
Thanks, this is an interesting one, I'll try to take a look at it soon.

[2018-01-13 11:56] matthewp commented on #391
Thanks for the PR, I'll take a look and try to get it merged soon.

[2018-01-13 11:57] matthewp commented on #379
Thanks @bvalyou for the answer!

[2018-01-13 11:57] #379 closed

[2018-01-13 12:00] matthewp commented on #371
@tractorcow you can consider `page.callbacks` as public for at least 1.x.

[2018-01-13 12:01] #371 closed

[2018-01-13 12:02] matthewp commented on #365
@bigomega I'm not familiar with TypeScript, does this mean we need to add something like `module.exports.default = page`? If so I can take this one.

[2018-01-13 12:03] matthewp commented on #359
I think the solution here would be to unregister a route.

[2018-01-13 12:26] #365 closed

[2018-01-13 12:29] matthewp opened #432 "Project cannot be developed in recent Node versions"
Pulling down page.js and trying to install its dependencies in any modern Node version won't work because of the dependency on an old jsdom version.

Since CI tests in Node 0.10 this means you have to develop in Node 0.10 too :( . I know a trick that *might* allow us to support both 0.10 and a modern Node (let's just say latest).

[2018-01-13 15:16] PaulMaly commented on #411
Very good news, man! I'm happy, thanks!

[2018-01-13 17:01] #432 closed

[2018-01-13 17:18] matthewp commented on #377
What does your use of `page()` look like here? What route are you listening to?

[2018-01-13 17:20] tj commented on #411
@matthewp should hopefully have npm access now!

[2018-01-13 17:23] matthewp commented on #411
@tj I do indeed, thanks!

[2018-01-13 17:28] matthewp commented on #337
Thanks @Giggiux, but I don't quite understand what you mean by "inside of the website", can you clarify?

[2018-01-13 17:28] matthewp commented on #338
Yep, we should update the documentation.

[2018-01-13 17:32] matthewp commented on #334
Performing authentication is not within the realm of page.js, but I am assuming you are able to figure that part out yourself. If so it is something like:

[code]

[2018-01-13 17:32] #334 closed

[2018-01-13 17:34] matthewp commented on #327
Sounds like this one was worked out! Great!

[2018-01-13 17:34] #327 closed

[2018-01-13 17:37] matthewp commented on #315
The project was unmaintained for a long time, but I am maintaining it now! Yay! page.js is going to start getting a lot better, I promise :)

[2018-01-13 17:37] #315 closed

[2018-01-13 17:40] matthewp commented on #304
Thanks, I'll see about adding tests and getting that fix in.

[2018-01-13 17:42] matthewp commented on #299
Great point! I'll look into what it takes to fix this.

[2018-01-13 17:43] #298 closed

[2018-01-13 17:44] matthewp commented on #295
Yep, @wereHamster has the answer here.

[2018-01-13 17:44] #295 closed

[2018-01-13 17:47] matthewp commented on #285
Do you have some example code of how you are using page.js with these routes?

[2018-01-13 17:49] matthewp commented on #283
You might be using a wildcard route? `page('*', function() { ... })`. If you only add routes for things you *do* want to be handled by page.js then other links should work.

[code]

Let me know if this doesn't answer your question and I'll try my best to help. :)

[2018-01-13 17:49] #283 closed

[2018-01-13 17:56] matthewp commented on #265
It's because the tests start a server within the test folder. I guess we could move the server up a level so it has access to page.js. I'll look into this.

[2018-01-13 17:57] matthewp commented on #207
I think @rstacruz has answered this well enough!

[2018-01-13 17:57] #207 closed

[2018-01-13 17:57] #268 closed

[2018-01-13 18:14] matthewp commented on #426
Previous issue exists: https://github.com/visionmedia/page.js/issues/338

Will be fixed there, thanks! 😁

[2018-01-13 18:14] #426 closed

[2018-01-13 22:32] bensmeets commented on #298
Sorry cor ghe late response. But to handle thie situation correctly, you would need to have both the current and previous page at the samentime, right? If like above ‘current’ is the ne t page, then what would be the ‘previous’ page?

[2018-01-13 23:30] onury commented on #377
@matthewp It's simple:

[code]

[2018-01-14 00:06] matthewp commented on #377
Thanks! I'll try to take a look.

[2018-01-14 12:06] matthewp commented on #391
Fixed by #394 (now merged)

[2018-01-14 12:06] #391 closed

[2018-01-14 12:29] #407 closed

[2018-01-14 14:37] matthewp commented on #383
Hey @tomhuynen, sorry for the long time without a reply. I tried changing the hash in one of the examples and I didn't see the problem that you are reporting here. Here's what I get:

![change-hash2](https://user-images.githubusercontent.com/361671/34917003-864993ce-f90e-11e7-8c7b-172cb0fa8d53.gif)

Can you provide more information on what causes this bug? Is it a specific browser version?

Going

[2018-01-14 14:37] #383 closed

[2018-01-14 18:11] matthewp commented on #179
Yep, what @kethinov said. Closing.

[2018-01-14 18:11] #179 closed

[2018-01-14 18:14] matthewp commented on #130
I think we could maybe document how to do this sort of thing with middleware.

[2018-01-14 20:16] tractorcow commented on #371
Thanks @matthewp :D

[2018-01-14 20:41] matthewp commented on #212
Hey, Typescript novice here. Is Definitely Typed still the way to submit typings? I thought it was replaced by some other method...

[2018-01-15 00:00] matthewp commented on #273
Are you saying you have a route like:

[code]

And this is not triggered because we don't listen for the hashchange?

[2018-01-15 13:39] matthewp commented on #273
Just a small update, I looked into this yesterday and adding that event listener broke some other tests. I didn't have a chance to look into why it breaks those tests. My guess is that since we already listening to anchor `click` events, we might get double events when also listening to `hashchange`. This is just a guess though. I'm writing this as a note to myself when I get the chance to look at

[2018-01-15 14:05] matthewp commented on #209
I was able to get a file protocol example working with hashbang when using `page.base(location.pathname);`. This makes everything just work. So I think the underlying problem is, when we are using hashbang we need to make sure to treat everything as though the base === location.pathname.

[2018-01-15 19:22] #209 closed

[2018-01-15 19:31] matthewp opened #442 "Improve the test infrastructure by moving tests inside an iframe"
There are a lot of things I want to do to make our testing better. But to *start*, I think it would be nice if tests ran inside of iframes. This would make it possible to run tests within a real browser, which currently you cannot do. I would like to do a lot *more* than that, but this would be a big start.

[2018-01-16 02:33] #442 closed

[2018-01-16 08:15] vagran opened #444 "Clojure compiler warning"
When compiling JS which uses page.js it has the following annoying warning:

[code]
Would be cool to replace "!function(...){..}(...)" by "(function(...){...})(...)".

[2018-01-16 11:35] matthewp commented on #444
Thanks! I wonder if switching to something like rollup instead of browserify would fix this.

[2018-01-16 11:38] matthewp commented on #424
Yes, that's right, when page.js first loads it will start by loading the route that is represented by the current URL. Hope that answers your question! :)

[2018-01-16 11:38] #424 closed

[2018-01-16 12:52] #375 closed

[2018-01-16 19:54] paulocoghi commented on #407
Excellent!

[2018-01-16 22:59] matthewp commented on #411
Releases are happening regularly, check the releases page for more information: https://github.com/visionmedia/page.js/releases

[2018-01-16 22:59] #411 closed

[2018-01-16 23:05] matthewp commented on #45
Just to clarify what the desired behavior is, we want to not dispatch when the `pathname` hasn't changed, is that right?  I think this would have to be a semver major change, if we do it. I'm wondering if there is any use-case for dispatching on the current route.

[2018-01-16 23:13] matthewp commented on #41
I just checked and this issue doesn't exist any more. 7 years is a long time for a bug! Closing.

[2018-01-16 23:13] #41 closed

[2018-01-16 23:17] matthewp commented on #45
Or actually I'm wondering is this change is desirable at all now that there are redirects: https://github.com/visionmedia/page.js#pagefrompath-topath

[2018-01-16 23:18] matthewp commented on #94
I think this use-case is served by redirects: https://github.com/visionmedia/page.js#pagefrompath-topath

Going to close, happy to reopen if I'm misunderstanding the need.

[2018-01-16 23:18] #94 closed

[2018-01-17 01:37] paulocoghi commented on #420
You do not need to call the `pushState` function because page.js already does this automatically.

[2018-01-17 01:38] paulocoghi commented on #420
@matthewp , this can be closed ;)

[2018-01-17 01:39] matthewp commented on #420
There's also page.replace which we should probably document...

[2018-01-17 01:40] matthewp commented on #420
Yep, thanks!

[2018-01-17 01:40] #420 closed

[2018-01-17 01:44] paulocoghi commented on #444
Yep. Using Rollup fix this. I use it.

[2018-01-17 01:49] paulocoghi commented on #405
@matthewp , without an response from the OP, I am in favor of closing the issue. If this problem does exist, we need at least one example code in which it occurs in order to work on the case.

[2018-01-17 01:52] matthewp commented on #405
That's fair, let's close. Happy to reopen if we get more info!

[2018-01-17 01:52] #405 closed

[2018-01-17 02:00] paulocoghi commented on #390
I know it's been a long time, but could you, or anyone suffering with this issue, test with `%25` instead of `%`?

In the above example, in fact the URI **is** malformed. We just need to test URL's with properly encoded special characters to see if the same error occurs.

[2018-01-17 02:03] matthewp commented on #444
I just wonder if this is considered a "breaking change" or not. Can't think of a reason why it would be...

[2018-01-17 12:16] #120 closed

[2018-01-17 12:16] #242 closed

[2018-01-17 17:45] paulocoghi commented on #444
For me, I only consider that it's a "breaking change" when it implies changes in end use.

If the way developers use the library does not change, changing the way the maintainers develop it is not considered a "breaking change", IMHO.

[2018-01-17 17:53] paulocoghi commented on #373
### Node.js

If you are using something based on Node.js, like Browsersync, you need to use `history-api-fallback`. Here is an example:

[code]

---

### Apache

Create an `.htaccess` in the root of your public folder, with this code:

[code]

---

### Nginx

Add this to the .conf file related to your project (inside the "server" part):

[code]

[2018-01-17 18:00] paulocoghi commented on #373
Using any of the methods mentioned above, all of your routes will load perfectly, regardless of whether it is the main route or not.

[2018-01-17 18:02] paulocoghi commented on #373
@matthewp , this issue can be closed. :)

[2018-01-17 22:09] matthewp commented on #373
Thanks @paulocoghi, but what do you think about adding this information to the readme? This is a question that I've seen multiple times. I wonder if adding a section at the bottom like "Server configuration" that includes that information you provided.

[2018-01-17 22:11] matthewp commented on #231
Hey everyone! This sounds like the same bug as https://github.com/visionmedia/page.js/issues/242 which was fixed by https://github.com/visionmedia/page.js/pull/447.

Try out 1.8.0 and let me know if you still see this problem. I'm going to assume this is fixed and close the issue, but will reopen if you tell me otherwise. Thanks!

[2018-01-17 22:11] #231 closed

[2018-01-18 11:44] matthewp commented on #367
Hey everyone! Sorry for taking so long to respond. We had some other bug fixes with hashbang that I think might have also fixed this problem as a result. Trying out an example like you describe I don't see this problem occurring any more. Going to close, let me know if you find otherwise. Thanks!

![screen shot 2018-01-18 at 6 44 06 am](https://user-images.githubusercontent.com/361671/35096679-14b

[2018-01-18 11:44] #367 closed

[2018-01-18 11:49] matthewp commented on #412
This doesn't appear to be an issue any more. Closing.

![screen shot 2018-01-18 at 6 48 55 am](https://user-images.githubusercontent.com/361671/35096839-aa1d1e78-fc1b-11e7-9e98-e6fef20553ec.png)

[2018-01-18 11:49] matthewp commented on #412
Oops, closed the wrong issue :P

[2018-01-18 11:49] matthewp commented on #211
This doesn't appear to be an issue any more. Closing.

![screen shot 2018-01-18 at 6 48 55 am](https://user-images.githubusercontent.com/361671/35096839-aa1d1e78-fc1b-11e7-9e98-e6fef20553ec.png)

[2018-01-18 11:49] #211 closed

[2018-01-18 12:13] matthewp commented on #412
I just tested and this does not occur any more. Only get the one query string as part of the URL.

[2018-01-18 12:13] #412 closed

[2018-01-18 12:48] matthewp commented on #373
@paulocoghi Here's the other issue asking for a htaccess. Like I said above, I think taking what you posted here and adding it to the readme under a "Server configuration" heading would do the trick. https://github.com/visionmedia/page.js/issues/277

[2018-01-18 12:54] #340 closed

[2018-01-18 12:55] matthewp commented on #369
Indeed you are right! As whacky as that is, we can't change until 2.0. But marking to do so!

[2018-01-18 13:15] matthewp commented on #332
I believe this has been fixed by a recent version. I was unable to create it upon trying. Please try yourself using 1.8.0 and let me know if it's still an issue. Thanks!

[2018-01-18 13:15] #332 closed

[2018-01-18 22:22] pr3ssh opened #449 "Is there a way to load partials example without node app (only using the browser stack)?"

[2018-01-19 02:04] Shyam-Chen commented on #373
[code]

[2018-01-19 12:26] matthewp commented on #449
https://github.com/visionmedia/page.js/pull/450 updates the example so that it works with a normal http server. However, refreshing the browser will not work without server-side routes. See https://github.com/visionmedia/page.js/issues/373 for discussion about that.

[2018-01-19 12:28] matthewp commented on #449
Closed by #450

[2018-01-19 12:28] #449 closed

[2018-01-19 12:52] #289 closed

[2018-01-19 12:54] matthewp commented on #222
`page(options)` is the same as `page.start(options)`. So while you think are configuring page you really are starting it, in which case not having routes defined is a problem.

For 2.0 (or perhaps before) I'm thinking about adding a `page.configure(options)` so you can more explicitly say (I want to configure page.js now) and it doesn't matter if you have routes defined or not.

[2018-01-19 12:56] matthewp opened #452 "Make it possible to create separate page instances"
It will be easier to solve problems like https://github.com/visionmedia/page.js/issues/222 once we do this. I was kind of waiting until 2.0 so we could use Object.setPrototypeOf and such to make the `page()` function inherit the page instances stuff, but now I wonder if it's too important to wait on that and if we should just do it.

[2018-01-19 12:57] matthewp commented on #452
API I am thinking of is:

[code]

[2018-01-19 12:58] matthewp commented on #13
API I am thinking of is:

[code]

[2018-01-19 13:04] matthewp commented on #368
I think we want to take care of https://github.com/visionmedia/page.js/issues/369 first by fixing the API before documenting the weird one. So I'm marking this as semver major so it can happen in 2.0.

[2018-01-19 13:05] matthewp commented on #101
Hey! This was recently fixed and should no longer be an issue in 1.8.0. Let me know if you discover otherwise.

[2018-01-19 13:05] #101 closed

[2018-01-19 17:04] paulocoghi commented on #373
@matthewp , I think it's very good!

[2018-01-19 17:06] paulocoghi commented on #373
I'm totally in favor! I'll add that.

[2018-01-19 17:28] paulocoghi commented on #373
Changes made in PR https://github.com/visionmedia/page.js/pull/453

[2018-01-19 17:29] paulocoghi commented on #277
Done in PR #453 . This can be closed ;)

[2018-01-19 17:34] paulocoghi commented on #13
@matthewp , very good!

[2018-01-19 17:56] matthewp commented on #277
Yay!

[2018-01-19 17:56] #277 closed

[2018-01-19 17:56] matthewp commented on #373
👍

[2018-01-19 17:56] #373 closed

[2018-01-22 13:03] pr3ssh commented on #449
@matthewp thx!

[2018-01-22 21:20] bradmarder opened #458 "unsafe-eval error"
`var hasProcess = new Function('return typeof process')() !== 'undefined';`

The above line of code triggers an `unsafe-eval` error (if a content security policy is set).

Is there a way to rewrite that line without having to `eval` it?

[2018-01-22 22:33] matthewp commented on #458
Oh, arg, I didn't think about csp. Luckily we are getting rid of that eval in https://github.com/visionmedia/page.js/pull/454. So I'll try to get that worked out soon.

[2018-01-22 22:39] #444 closed

[2018-01-22 22:43] matthewp commented on #458
This is fixed in https://github.com/visionmedia/page.js/releases/tag/1.8.3. Thanks for filing!

[2018-01-22 22:43] #458 closed

[2018-01-22 22:43] matthewp commented on #425
Going to close for now since there wasn't a response. Let us know if there is anything else you need :)

[2018-01-22 22:43] #425 closed

[2018-01-22 22:44] matthewp commented on #337
I'm going to close for now. Will reopen if we can get a better idea of what the problem is. Thanks!

[2018-01-22 22:45] matthewp commented on #285
We've recently fixed some issues with hashbang support that I suspect might fix these issues. Happy to reopen if you are still having problems though. Thanks!

[2018-01-22 22:45] #285 closed

[2018-01-22 22:46] matthewp opened #459 "Add node.js tests"
@zinigor has found and fixed bugs when using page.js in Node.js without a window environment (thanks!). I would like to add some tests for using page.js this way. @zinigor can you explain how you are using page.js here? Are you using it in an express middleware or something? Are you using it as a server-side router?

[2018-01-23 00:59] Giggiux commented on #337
Sorry for late answer:
With "inside the site" I mean when you are browsing it. While "outside" is while you try to access it from another webpage (of another domain/subdomain) by link or copy-pasting the link.

[2018-01-23 01:33] matthewp commented on #337
Ok, thanks for responding. I'll reopen and think more about this

[2018-01-23 12:41] paulocoghi commented on #337
@Giggiux , Since many improvements have been made since the day you opened this issue, including enhancements in hash-based navigation, could you test again? Thanks!

[2018-01-23 12:57] Giggiux commented on #337
@paulocoghi if the API didn't change, I could test it with the same WebApp I was developing 2 years ago just changing page.js' version, is this the case?

If the API changed, It may take a while to find some time to do it :S.

[2018-01-23 12:58] matthewp commented on #337
@Giggiux If you are using a 1.x version, then the API has not changed.

[2018-01-23 16:14] zinigor commented on #459
We are using `page` in Jetpack for navigating in a React app, but this failure appeared from a unit test powered by Enzyme. In the beginning of the test we create a mock context and add a window object that can be used by the application. I believe the error happens when a new Context object is created, but I'm not entirely sure how Page works here.

Plus, it turns out that the fix I have added do

[2018-01-26 08:43] yoyo837 opened #462 "upgrade the path-to-regexp version"
Please upgrade the path-to-regexp version, there are some problems with the old version.

like `*`
[code]

[2018-01-26 13:52] aldebaran798 commented on #462
What problem have you? I use the asterisk path on end of page.js routes settings and don't have problems

[2018-01-26 14:00] matthewp commented on #462
Same here, I'm pretty sure we have tests for this. Not opposed to upgrading the path-to-regexp dep of course.

[2018-01-30 19:47] elihorne opened #463 "How to set context#title?"
First, thank you for creating this excellent router.

I notice in the documentation that you mention accessing the pushState page title via context, but I can't find any example of how this can be set by the routing functions.

Would it be possible to add an example of setting context values in the documentation?

[2018-02-10 02:13] hypernova7 opened #465 "Why do you give me this history error?"
why, when i use page.js it gives me history.location error.
I have already used the polyfill of ´html5-history-api´ and it gives me the same error.

´window.history.location: undefined´

[2018-02-10 09:02] weiguolongnovelbio opened #466 "Could you please give me more information about the description?"
`
page([options])
click bind to click events [true]
popstate bind to popstate [true]
dispatch perform initial dispatch [true]
hashbang add #! before urls [false]
decodeURLComponents remove URL encoding from path components (query string, pathname, hash)
`
Now I would like to use the page, and would like to chang the page but do not notify a callpack.
I think it should be controlled by the option `

[2018-02-21 09:10] ryanwild commented on #293
+1

Exact same problem as described above

[2018-02-21 21:37] RenaudParis opened #468 "No default jsDelivr CDN file set"
[This package](https://www.jsdelivr.com/package/npm/page) doesn't have a [default file](https://www.jsdelivr.com/features#publishing-packages) set. You can set it via `jsdelivr`, `browser`, or `main` field in `package.json`

[2018-02-26 13:47] matthewp commented on #468
Yeah, I suppose so, i'm surprised this was never there before.

[2018-02-26 18:39] doctorguile commented on #304
I tested the above PR (sadly it's been closed)
It works if you don't set page.base()

otherwise you'll get double #!#!

I adopt the fix to make it work with page.base()

`
    var hashbangPos = path.indexOf('#!');
    if (hashbang && hashbangPos !== -1) {
        this.path = path.substr(hashbangPos+2) || '/';
    } else {
        this.path = path.replace(pageBase, '') || '/';
    }
`

[2018-02-26 20:22] paulocoghi commented on #304
It seems to me that TimvdLippe's PR https://github.com/visionmedia/page.js/pull/358 is leaner.

[2018-02-28 11:37] RenaudParis commented on #468
Hi @paulocoghi !

I'm sorry for the preformatted issue comment earlier, it is created automatically by jsDeliver and I did not feeel like modifying it because I didn't know anyrthing intelligent to add :)

Thank you for being so reactive, it is impressive! And great, because I will be able to centralize all my external libs using jsDeliver now :) :) :)

Thanks again!

[2018-02-28 12:42] matthewp commented on #468
This was released in 1.8.4, thanks @paulocoghi!

[2018-02-28 12:42] #468 closed

[2018-02-28 18:49] aluferraz opened #471 "Minified JS Not Available"
Hi !

I'm trying to download the minified version from the CDN, but it returns a 404..

Is it available anywhere else?

[2018-02-28 19:04] paulocoghi commented on #471
@aluferraz , sorry for the inconvenience. It's currently unavailable.

@matthewp , I am a little busy today but, if you want, I can configure Rollup to generate the minified version, too.

[2018-03-01 23:52] RenaudParis commented on #468
Thanks @matthewp !

[2018-03-02 11:47] matthewp commented on #471
Did we ever have a minified version? I thought that we just relied on cdnjs which makes those automatically. https://cdnjs.cloudflare.com/ajax/libs/page.js/1.8.4/page.min.js

[2018-03-02 14:20] paulocoghi commented on #471
Strangely the minified version was not available when I tried to access it. Perhaps CDN JS had not yet completed the process. :) xD

In this case, there is no need to do anything on our side.

[2018-03-05 00:59] RenaudParis commented on #468
Hi guyz!

Is it possible to add the minified version to the repo?
jsDeliver seems to be unable to provide me with the page/page.min.js file.
Or is it a bug with jsDeliver?

When I check the default file in jsDeliver, this is what happens:
![image](https://user-images.githubusercontent.com/676896/36953140-ae1e5a02-2018-11e8-96f1-c09dbf721025.png)

Please advise (whenever you have the time, this is

[2018-03-05 11:47] paulocoghi commented on #468
Thanks for the note, Renaud!

@matthewp , unlike CDN JS, jsDelivr does not provide minified versions automatically. If you want, I set up Rollup to do this.

[2018-03-05 15:02] matthewp commented on #468
Yeah that's cool with me.

[2018-03-06 14:47] bradmarder opened #472 "IE 11 support - refreshes page on navigation"
Worked fine with 1.71.  Broken with the 1.72 patch.

[2018-03-08 16:45] RenaudParis commented on #471
@aluferraz see issue #468 , the team seems to be working on the generation of a minified file inside the repo, which will allow us to download it seemlessly from any CDN out there :1st_place_medal: :+1: Kudos to them!

[2018-03-08 16:59] RenaudParis commented on #468
@paulocoghi @matthewp to be noted that jsDeliver does support automatic minification (as I read in a github issue comment somewhere), so I can load `npm/page@1.8.4/page.min.js` instead of just `npm/page@1.8.4`.

However, I can't seem to find how to automate this process (of adding the minified file name to the "require") using their website, which makes it painful if I am to change my dependencies

[2018-03-10 09:25] jersonjcnt commented on #463
Hi. you can extract the title from the content loaded by ajax. simply use this function.
`  function extractTitle(content) {
        return content.match(/<title[^>]*>([^<]+)<\/title>/)[1];
    };`

[2018-03-15 05:49] joshgillies opened #473 "Setting opts.window should also update isLocation global variable"
I'm currently playing around with page.js in a Worker context, and as a result of that environment having no native window object, etc I'm passing my own via `page.setup({ window: {...} })` - however when it comes to initiating a route we get errors because `isLocation` is not set.

Would it be possible to update the `isLocation` variable based on the input object from `opts.window`?

[2018-03-15 12:46] matthewp commented on #473
Yup! PR welcome here.

[2018-03-18 21:51] axelpale commented on #302
@iiison If you look at page's source, the base path is plainly added in front of paths without any checking. The result is probably equal to `page('//test', testRoutes.test2)` with the default base.

**To answer your question:** you should not use `page.base('/')`.

Maybe the implementation of `page.base` should strip all trailing slashes.

This issue can be closed, I think.

[2018-03-18 22:11] axelpale commented on #193
IMHO it is logical that `next` needs to be called. I am using Express a lot, so I expect the execution of middleware chain to stop if I do not call `next()`.

**However** the documentation should put emphasis on the importance of calling `next()`. Currently there is no mention what happens if `next` is omitted. The position of `exit` in the middleware chain is not trivial and that caused me, and m

[2018-03-19 12:18] matthewp commented on #302
Thanks!

[2018-03-19 12:18] #302 closed

[2018-03-20 19:24] dthorne opened #474 "Cut new release for fixes in shadow DOM."
This PR was merged but a release was never cut. https://github.com/visionmedia/page.js/pull/469

[2018-03-21 21:02] matthewp commented on #474
Whoops! Sorry about that. Just released it as 1.8.5.

[2018-03-21 21:02] #474 closed

[2018-03-22 18:41] mgibas commented on #472
Not sure its related but webapack + latest version + any browser results in refreshes as well

[2018-03-24 20:06] gokhandemirhan commented on #292
This also happens to me. When I am using live reload or any other thing to reload while I am developing. After each save page is reloaded but I get 404

[2018-03-25 19:40] paulocoghi commented on #292
@gokhandemirhan and @Boscop , please read the new section "[Server Configuration](https://github.com/visionmedia/page.js#server-configuration)". There are instructions that also serve for "live reloaders".

Everything based in nodejs, including live reloaders, can benefit from "history-api-fallback" to avoid 404 when reloading URL's.

[2018-03-26 00:18] nick-woodward opened #476 "v1.8.5 is actually v1.8.3"
### Description

It looks like an older version of `page.js` was published to NPM.

A quick way of validating this is to either pull down the package from NPM
or look at the source via [unpkg](https://unpkg.com/page@1.8.5/page.js).

The change in question that I'm looking for is @dthorne's fix for `page.js` within shadow dom (#469).

[2018-03-26 00:27] nick-woodward commented on #476
Upon further inspection it looks like v1.8.5 on `cdnjs` is using an old version of `page.js` as well.

[2018-03-26 00:31] nick-woodward commented on #476
I stand corrected even further, it looks like v1.8.5 doesn't even have the latest version of the code built on GitHub.

So v1.8.5 is literally the same as v1.8.3 (since that's the last time page.js was built) on every platform.

[2018-03-26 09:40] Boscop commented on #292
I'm not using nodejs and I'm not talking about livereload. I mean when the user in the browser pastes that URL and hits Enter, they get 404, how to fix that?

[2018-03-26 23:01] paulocoghi commented on #292
@Boscop, what webserver you are using? If it is Apache or Nginx, there are instructions for them as well in the [new section](https://github.com/visionmedia/page.js#server-configuration) I mentioned.

[2018-03-27 01:50] Boscop commented on #292
The request isn't even sent to the server, the 404 happens in the client-side routing in page.js..

[2018-03-27 11:01] matthewp commented on #476
Weird, I'm releasing a new version anyways.

[2018-03-27 11:03] matthewp commented on #476
I just released 1.8.6....

[2018-03-27 11:03] #476 closed

[2018-04-03 07:48] PaulMaly opened #478 "Proposal about forms"
Hi, @matthewp! I've an idea:

[code]
the result of this form submissing will be URL changes:

[code]
So, maybe it's a good idea to provide an option for handling GET-forms by the router? Just like we already handle all links. It could be something like this:

[code]

I can provide a PR for these changes if you don't mind.

[2018-04-03 11:29] matthewp commented on #478
Sounds good to me!

[2018-04-03 11:57] PaulMaly commented on #478
Great! I'll send a PR.

Btw, are you sure that this:
[code]
was need to be changed to this:

[code]
Seems, that it's not an equivalent change and we've lost HTML5-History-API polyfill support, isn't?

[2018-04-03 12:02] matthewp commented on #478
Why is it not equivalent exactly?

[2018-04-03 12:09] PaulMaly commented on #478
Because the idea was to rewrite local ```location``` variable to ```window.history.location``` if this polyfill is used. Not just to check that we've ```location```. Correct me if I'm wrong.

[2018-04-03 13:18] kethinov commented on #478
Something similar to this was discussed in https://github.com/visionmedia/page.js/pull/107 and the previous maintainer declined to accept pull requests on the subject. I went ahead and implemented it as a plugin instead: https://github.com/kethinov/page.js-body-parser.js

Though I haven't tested either of my two page.js plugins since this project became actively maintained again, so they may need

[2018-04-03 17:15] PaulMaly commented on #478
@kethinov Hi!

Hm, I believe it's a quite different thing. In this issue, you suggest handling of POST-forms, right? I'm not sure that it's a bad idea or something, but in a difference of GET-forms, POST-form also sends a request body to the server. And I think that body processing isn't business of a router.

GET-forms and it's processing is very simple - they change URL, as well as any regular l

[2018-04-03 17:30] PaulMaly commented on #478
Actually, I'm not really against it. ))  But seems even query string is not processing in Page.js by default. To stay tiny, I guess.  For me, it's not a problem to import ```qs``` or something and write 3 loc middleware to support it.

Anyway, your idea deserves attention, so maybe you should raise an issue again to check whether the consensus has changed?

[2018-04-04 09:53] santomegonzalo opened #479 "Redirect support params"
Hello, I'm having the following issue.

`path(to, from)` works perfects when I don't have **param** on the URL. But for this case `page('/user/:userId/settings', '/user/:userId')` will not work because when I navigate to `page('/user/100/settings')` page will redirect to `page('/user/:userId')`... of course this is not the expected behaivour.

I ended up doing the following:

[code]

This is worki

[2018-04-04 18:45] PaulMaly commented on #478
PR: #480

[2018-04-25 12:52] drschwabe opened #481 "Global access to defined paths & callbacks"
Is there a way to access the defined paths & callbacks from our app's global scope ?

This data is actually in the page.callbacks object but it's within function scope and thus unavailable to the outside; ie- seems that accessing this scoped data is not trivial without use of eval() or something.

![screenshot from 2018-04-25 21-48-23](https://user-images.githubusercontent.com/858841/39246740-692b

[2018-04-28 14:58] drschwabe opened #482 "Separate the path matching into separate module"
Obviously not a pressing issue, but a special request:  to separate the matching code into a separate module.

It could make page.js more modular, perhaps easier to read/follow the code - but more importantly (and selfishly, I admit) it would make it easier for others to use that great matching capability in our own applications.

For example, there is a module called [route-parser ](https://githu

[2018-05-09 06:51] rkrajesh661 opened #483 ""[Deprecation] Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience" while navigating from one page to another"
Could any one help with below issue:

"[Deprecation] Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience" warning is getting displayed in browser console while we navigate from one page to another. I think this issue is because script is loaded with async:false call. I have debugged this issue while navigating from one page to

[2018-06-15 04:28] yancy-li commented on #304
@doctorguile
I have the same problem. Have you solved it?

[2018-06-21 04:01] Subterrane commented on #482
He uses https://www.npmjs.com/package/path-to-regexp for path matching

[2018-06-21 12:07] paulocoghi commented on #482
It seems that the best option (and the most optimized one) is **[lukeed/matchit](https://github.com/lukeed/matchit)**.

[When compared to path-to-regexp](https://github.com/lukeed/matchit#benchmarks), the gain is notorious.

[2018-08-03 21:31] kyle-west commented on #405
I am experiencing this too. I have multiple apps mounted at different paths of the same domain. (i.e: `/foo` is a different express app than `/bar`) Some apps use `PageJS` for client-side routing, others do not. When I navigate from an app that uses page to another that does not, and then use the back button to return to the previous app's page, I am experiencing the same behavior.

[2018-08-06 14:06] kyle-west commented on #405
It turns out that adding
[code]
to the file that does not use PageJS solved the problem for me.

[2018-08-06 14:30] paulocoghi commented on #405
Thanks for sharing your solution!

Since it is external to PageJS, maybe we can add this to the README

[2018-08-20 23:48] JoshGalvin opened #491 "Filename is lost on routing to root"
The filename component of location is lost when you navigate to "/".

EX:
- hashbang routing
- page located at http://foo.com/bar.html
- click <a href="/example"/>
- location is now http://foo.com/bar.html#!/example
- click <a href="/" />
- location is now http://foo.com (missing bar.html)

This comes up when using history.back() as well.

[2018-08-22 14:37] PaulMaly opened #492 "hashbang and file:// protocol problem"
When onclick event fired, we've got situation then handler **never** handle navigation, because this condition is always true:

[code]

How to fix that?

[2018-08-22 15:09] PaulMaly commented on #492
Also, **pathname** includes absolute path to the file, but seems should be a relative path.

[2018-08-23 21:27] elprobes opened #494 "page('/user/'+1234); change the base path"
When i navigate from a function using page('/url/'+param); the script change the base path. So if the base path is '/mysite' and i use the above command the base path becomes '/url/param' and break everything. It's me or is this a bug? i expect that the base path doesn't change

[2018-08-28 18:11] cj-idoctours opened #495 "onpopstate doesn't include query string when e.state = null"
When e.state = null (like when clicking on a link that is the same as the current location except with a hash), the query parameters were not added to page.show()

This problem occurs on line 998 on page.js

Problem code:
        998 page.show(loc.pathname + loc.hash, undefined, undefined, false);

Fix:
        998  page.show(location.pathname + location.search + location.hash, undefined, undefine

[2018-08-31 16:21] elprobes opened #496 "Why click on links reload page?"
this is the routing:

`page.base('/');
page('/login', login);
page('/registration', register);
page('/', index);
page();`

when i first arrive at the home page, index is correctly called. Then inside the html generated by the index function, there is a link:

`<a href="./registration">Register</a>`

when i click on this link it's supposed to only replace a part of the dom, previously generated by

[2018-08-31 16:27] elprobes commented on #496
Solved, sorry it was base path not correctly set.

[2018-08-31 16:28] #496 closed

[2018-09-04 13:25] matthewp commented on #494
I believe this is a bug...

[2018-09-05 18:52] lastmjs opened #499 "Provide an es modules bundle"
Could you provide a rollup bundle that emits es modules? I'm working with tools (trying to work with no tools) that just assume es module source code. Bare specifiers are fine, but having the require syntax in the bundle is messing things up for me. It would be nice if page could have a module output, and for that to be in the "es" or "module" property of the package.json. I bring this up because

[2018-09-05 18:58] matthewp commented on #499
That would be superb! Let me take a look at how difficult this would be and I'll get back to you.

[2018-09-05 19:11] lastmjs commented on #499
Awesome! If it helps, I've done this kind of thing before on a few occasions:

* https://github.com/Prendus/esprima-es-module
* https://github.com/Prendus/escodegen-es-module
* https://github.com/Prendus/jsverify-es-module

And there are many others in the repo list: https://github.com/Prendus

[2018-09-05 20:37] matthewp commented on #499
Yeah I've done it a bit before as well. This already uses rollup so I think it's just a matter of adding a second build target. I'll probably go with `page.mjs` since `page.js` is the UMD bundle.

Do you know what is supposed to be done about the package.json so that bundlers prefer this new bundle? Is that the `module` field?

[2018-09-06 02:07] lastmjs commented on #499
I'm not sure, but I believe I've seen `module` and `esm`. `module` would probably be preferred: https://stackoverflow.com/questions/42708484/what-is-the-module-package-json-field-for

[2018-09-06 02:48] matthewp commented on #499
https://github.com/visionmedia/page.js/pull/500

[2018-09-06 10:44] #499 closed

[2018-09-06 10:52] matthewp commented on #499
This is in 1.9.0: https://github.com/visionmedia/page.js/releases/tag/v1.9.0

[2018-09-07 11:04] #13 closed

[2018-09-07 12:53] matthewp commented on #471
So I guess just a temporary glitch? https://cdnjs.cloudflare.com/ajax/libs/page.js/1.10.0/page.min.js working now. Closing...

[2018-09-07 12:53] #471 closed

[2018-09-07 13:38] center-777 opened #501 "Cannot read property 'bind' of undefined"
After upgrade to `1.10.0` i got an error:
![image](https://user-images.githubusercontent.com/7359520/45222173-62717a80-b2bc-11e8-9616-3f28aa05f13e.png)

https://github.com/visionmedia/page.js/blob/v1.10.0/index.js#L53

[2018-09-07 14:32] matthewp commented on #501
Hm, that is unexpected. Can you go to that line and let me know what `this` is?

[2018-09-07 21:33] matthewp commented on #495
This is a bit of a tough one to test.

[2018-09-08 13:00] #495 closed

[2018-09-10 10:18] flootr commented on #501
[We experience the same error](https://github.com/Automattic/wp-calypso/pull/27061). `this` seems to be defined correctly defined but `_onpopstate` is undefined at this point and therefore can't be bound.

The only thing I could spot why that might be is the following [piece of code](https://github.com/visionmedia/page.js/blob/v1.10.0/index.js#L431-L433):

[code]

which evaluates to `false` and re

[2018-09-10 12:01] matthewp commented on #501
@flootr Can you confirm that returning a function there instead fixes it? `return function(){};` should be enough.

[2018-09-10 18:15] flootr commented on #501
@matthewp that does indeed help. Can't speak for the issue author though.

[2018-09-14 12:09] 43081j opened #504 "Contexts no longer work with hashbang enabled"
https://github.com/visionmedia/page.js/blob/85e06e6fa65bc5c4e127bb71a91f1108302fe940/index.js#L652

I believe this should be `_page._hashbang`. It is _always_ undefined so all contexts fail to produce the right path in hashbang mode.

This is since 1.9.0, 1.8.6 worked fine.

[2018-09-14 19:53] kaisermann commented on #504
Hit this today and have opened a PR #505

[2018-09-21 16:33] bmcinroy commented on #88
Any update on this? Was looking at using page.js and ran into this issue very quickly.

[2018-09-24 18:29] nthibert commented on #501
When will this actually make it out. When I do a npm install for my project, I get 1.10.0 down and I get this error as well. I know it was fixed but just wondering when this will make it live?

[2018-09-24 20:13] matthewp commented on #501
I'll do a release today.

[2018-09-24 21:01] matthewp commented on #501
Released in 1.10.2

[2018-09-25 07:48] flootr commented on #501
@matthewp not sure what went wrong but 1.10.2 doesn't seem to include that fix. Ha, it seems my PR from above only fixed it for `page.js`, not `index.js` and `index.mjs` 🤔

[2018-09-25 12:01] matthewp commented on #501
Oh, sorry I didn't look at that closely enough. `page.js` and `page.mjs` get generated from `index.js`. So changes should be made to `index.js`. I'll reopen since this is not fixed.

[2018-09-25 13:00] nthibert commented on #501
Thanks for looking into this.

[2018-10-01 13:41] kaisermann opened #508 "Default global Page event bindings prevent other Page instances events from working correctly"
If you try to create a instance with the `createPage` method instead of using the global `page` instance, since the `this.configure` runs at the `new Page()` step AND at the `page.start`, you end up with two event handlers running at the same time.

Also, the `options` object passed onto `createPage` is currently not used

Edit:

My bad, the bindings are not duplicated. The problem is that the def

[2018-10-02 14:17] kaisermann commented on #492
I'm also needing to get hashbang and `file://` working with regular `<a href></a>` links.

Does this makes sense?

[code]

[2018-10-02 17:44] matthewp commented on #492
I'm not sure I understand the situation to be honest. If you could create an HTML file that I can drop into a browser with the file protocol I can dive into it.

[2018-10-02 17:47] matthewp commented on #259
I'm going to close, as far as I know these browsers are still supported. Maybe someone fixed it without updating this issue.

[2018-10-02 17:47] #259 closed

[2018-10-02 18:01] kaisermann commented on #492
Based on the `basic` example:

[code]

With file protocol:
![file](https://user-images.githubusercontent.com/12702016/46367465-051ae000-c654-11e8-8de2-d9276a000fd3.gif)

with http protocol:
![http](https://user-images.githubusercontent.com/12702016/46367467-06e4a380-c654-11e8-8aa3-1af6298b7d97.gif)

[2018-10-04 01:33] kaisermann commented on #492
@PaulMaly Sure, no problem! However, I'm not sure if this is really the right way of fixing it. @matthewp any thoughts?

[2018-10-09 00:27] estebanpdl opened #515 "Uncaught TypeError: Cannot set property 'href' of null"
I have been using page.js for nodejs applications in different projects, however, my newest one is exploring a massive download data from a postgresql database, which affects how elements are been rendered.

What is the best approach to make anchor tags works?, for example:

    const page = require('page')
    const d3 = require('d3')
    page('/view', (ctx, next) => {
      let qs = ctx.querystr

[2018-10-24 12:12] #501 closed

[2018-10-31 22:31] #508 closed

[2018-11-02 13:47] wollanup opened #521 "CommonJS "require()" in page.js file loaded from browser"
Just to make sure...
Is that an expected behavior that page.js uses
[code]
in the latest commit ?

The file page.js is supposed to be used in a client side environment (browser), not in Node environment ?

[2018-11-02 14:52] bbarr commented on #521
_TLDR - Use the cdnjs or unpkg links on the README, not the rawgit link on the public marketing site. Keep the version at 1.11.1_

This is not ES6, this is commonjs and certainly has no place in the built file of a client-side library. The tests don't catch it either, so, must be configured incorrectly or else it is going through another build stage for them.. which would make even less sense. Hop